{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/tim/list.html" -}}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  <div class="container">
    
    <input type="text" list="datalist" onkeyup="ac(this.value)"> 
    <datalist id="datalist"> 
      {{- range (where (where .Site.Pages "Section" "tim") ".Params.id" "itinerary") }}
      <option value="{{.RelPermalink}}">{{.Title}}</option> 
      {{- end }}
    </datalist> 
   
      <div class="table">
        <div class="item"><b>Name</b></div>
        <div class="item"><b>Trip name</b></div>
        <div class="item"><b>Last modified</b></div>
      </div>
      {{- range $i,$e := (where (where .Site.Pages "Section" "tim") ".Params.id" "itinerary") }}
      <div class="noshow" id="data-{{ $i }}">
        <div class="table">
          <div class="item">
            <a class="link-unstyled" href="{{ .Name | urlize }}">
            {{ $e.Name }} 
            </a>
          </div>
          <div class="item">{{ $e.Params.tour }}</div>
          <div class="item">{{ $e.Lastmod.Format "02/01/2006"}}</div>
        </div>
      </div>
      {{- end }}
     
    </div>
   
  </div>
</section>

{{ end }}
{{ define "postscript" }}

<script>
  var tags = [

    {{- range (where (where .Site.Pages "Section" "tim") ".Params.id" "itinerary") }}
     "{{ .Title }}", 
    {{- end }}
    ];

  var n= tags.length;     
  var str = ("data-");

  function ac(value) { 
    document.getElementById('datalist').innerHTML = ''; 
    l=value.length; 
   

    for (var i = 0; i<n; i++) { 
      if(((tags[i].toLowerCase()).indexOf(value.toLowerCase()))>-1) 
      { 
        var node = document.createElement("option"); 
        var val = document.createTextNode(tags[i]); 
        node.appendChild(val); 
        // document.getElementById("datalist").appendChild(node); 

        var item = str.concat(i);
        document.getElementById(item).style.display = "block";

      } else {

        var item = str.concat(i);
        document.getElementById(item).style.display = "none";
      }
    }
  } 
</script>

{{ end }}