{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/test/single.html" -}}



<style>

 
</style>

<h2>Duration</h2>

{{ $hour := int (substr .Params.duration 0 2) }}
{{ $min  := int (substr .Params.duration 3 2) }}<br>

{{ $hour }} hr {{ $min }} min<br>

{{ $hour := mul $hour 3600 }}
{{ $min  := mul $min  60   }}<br>

{{ $date := (time .Params.date).Unix }}

date start =   {{ dateFormat "15:04" $date }}<br>

{{ $date = add $date (add $hour $min) }}

date end = {{ dateFormat "15:04" $date }}<br>

{{- end }}
{{- define "postscript" }}

<script>

</script>

{{- end }}