{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/test.single.html" -}}



<style>
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

div#items {
  border: 1px red solid;
  padding: 10px;
  text-align: center;
}

div#items div {
  display: inline-block; 
  border: 1px solid #555;
  text-align: center;
  padding: 1em;
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 200%;
}


</style>

<div id="items">
</div>


     
{{ end}}
{{- define "postscript" }}
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

<script src="/js/sortable.js"></script>
  
<script>





let el = document.getElementById('items');
for(let i = 1; i <= 12; i++) {
  let div = document.createElement('div');
  div.textContent = i;
  el.appendChild(div);
}

var sortable = Sortable.create(el);
  </script>
{{- end }}