{{- .Scratch.Set "layout" "layouts/special-hotels/single.html" -}}

{{- define "main" }}

{{- $hotels := sort (where (where .Site.Pages "Section" "states") ".Params.id" "hotel") ".Params.rating" "desc" }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  	{{ partial "heading.html" (dict "dot" . "title" .Title ) }}
  	<div class="container">
    	<div class="row">
      		<div class="mx-auto w-50 p-3">
        	{{ with .Params.subtitle }}<h3>{{ . }}</h3>{{ end }}
        	{{ .Content }}
      		</div>
    	</div>
  	</div>

  	<!--
  <div class="container">
    <div class="row">
      <div class="topbar">Filters</div>
    </div>
  </div>   
	-->
    <div id="main">
       	<div class="row">
       		{{ partial "filter-hotels.html" (dict "dot" . "hotels" $hotels ) }}
		    <div class="col-sm-8 col-md-9">
          		<div class='hotels'> 
		          	{{"<!-- items -->" | safeHTML }}
					<div class="hotel-list listing-style3 hotel">
					    {{ range $i,$e := $hotels }}    
					       <article dataRating={{ with .Params.rating }}"{{ . }}"{{ else }}"1"{{ end }} city="{{ .CurrentSection.Parent.Title }}">
					          <div class="article-image">
					            <figure >
								{{- with $e.Resources.ByType "image" }}  	
					          	{{- range $index,$img := . }}
					          	{{- if eq $index 0}}
					      		<img class="mr-3 lazyload" itemprop="image" src="{{ $img.RelPermalink }}" alt="{{ $img.Title }}">     
					          	{{- end }}
					          	{{- end }}
					        	{{- end }}  
					            </figure>
					          </div>
					          <div class="article">
					            <div class="article-details" > 
					              <a  href="{{ $e.Permalink }}" class="hover-effect">      
					                <h3>{{ $e.Title }}</h3>
					                 </a>
					                <h4>{{ .CurrentSection.Parent.Title }}</h4>
					             {{ $e.Summary }}
					            </div>
					            <div class="article-pricing">
					              	<div class="days">
					              		{{- with .Params.rating }}
										{{ "$" | strings.Repeat . }}
										{{- end }}
									</div>
					            </div>
					          </div>
					        </article>
					    {{- end }}
					</div>
					{{"<!-- end items -->" | safeHTML }}
				</div>
			</div>
        </div>
    </div>
</section>

{{- end }}
{{define "scripts"}}

{{- $hotels := resources.Get "/js/hotels.js" -}}
{{- $js := slice $hotels | resources.Concat "js/hotels.js" }}
<script src="{{ $js.RelPermalink }}" defer></script>

{{- end }}

