{{- .Scratch.Set "layout" "layouts/why-us/list.html" -}}

{{- define "main" }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" (dict "dot" . "title" .Title ) }}
  <div class="container">
    <div class="row">
        <div class="content mx-auto w-50 p-3">
          {{ .Content }}
        </div>
    </div>
  </div>
  {{"<!-- show items -->" | safeHTML}}
  <div class="bg">
    <div class="card-deck">
      <div class="row row-cols-1 row-cols-md-4">
      {{- range .Data.Pages }}
        <div class="col mb-3">
          <div class="card h-100">
            <!-- header -->
            <div class="card-header img-top">
            {{- with .Resources.ByType "image" }}
            {{- range $index,$img := . }}
            {{- if eq $index 0}}
              <img class="mr-3 publisher lazyload" itemprop="image" data-src="{{ $.Page.Permalink }}{{ $img }}" alt="{{ $img | humanize }}">
            {{- end }}
            {{- end }}  
            {{- end }}
            </div>
            <!-- body -->
            <div class="card-body">
              <h3 class="card-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>     
              <h4>{{ .Params.subtitle }}</h4> 
              <p class="card-text">
                <span itemprop="description">{{ .Summary }}</span>
              </p>
            </div>
            <!-- no footer -->
          </div>
        </div>
      {{- end }}
      </div> 
    </div> <br><br> 
  </div>
  {{"<!-- end items -->" | safeHTML}}
</section>
{{- end }}

