{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/tour/list.html" -}}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "image-single.html" . }}
  {{ partial "heading.html" . }} 
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 border">
        <div class="color">Duration</div>
        <div>{{- len .Params.itinerary }} days</div>
      </div>
      <div class="col-sm-3 col-md-3 border">
        <div class="color">Price from</div>
        <div>{{ .Params.price }} </div>
      </div>
      <div class="col-sm-3 col-md-3 border">
        <div class='flex'>
          <div class="row specs">
            <div class="color">Start</div>
            <div class="color"><i class=".icon-globe"></i></div>
            <div class="color">End</div>
          </div>
          <div class="row specs">
            <div class="flex-item grow ml-10">{{ .Params.tourStart }}</div>
            <div class="flex-item"> </div>
            <div class="flex-item grow">{{ .Params.tourEnd   }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="color">Best time to go</div>
        <div>{{ .Params.bestTime }}</div>
      </div>
    </div>

    <div class="mx-auto w-50 p-1"><br><br>
      {{ .Content }}
    </div>

    <div class="note">
      <div class="tailored">
        All trips can be tailored to your needs!<br>
        Get in touch with us <a href="/contact/contact-us/">here</a>
      </div>
    </div>

    <div class="tab-wrapper">
      <nav id="myTab" class="nav flex-column flex-sm-row" >
        <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#itinerary">
          Itinerary
        </a>
        <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#map">
          Map
        </a>
        <a class="flex-sm-fill text-sm-center nav-link " data-toggle="tab" href="hotel-options">
          Hotel Options 
        </a>
        <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#similar">
          Similar Itineraries
        </a>
      </nav>

      <div class="tab-content">
        <div id="itinerary" class="tab-pane active">
          <div id="accordion" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            
            <div class="accordion-controls">
              <div class="opener" data-accordion-open-all="itinerary">
                <span id="AccordionExpand">EXPAND ALL ITINERARY DAYS</span>
                <span class="icon-plus"></span>
              </div>
              <div class="collapser" data-accordion-close-all="itinerary">
                <span id="AccordionCollapse">COLLAPSE ALL ITINERARY DAYS</span>
                <span class="icon-plus"></span>
              </div>
            </div>

            {{- $nighthalt := "" }}
            {{- range $i,$e := .Params.itinerary }}
            <div class="card">
              <button class="accordion">Day {{ add $i 1 }},
                {{- range $j, $element := $e.item }}
                  {{- if (eq .type "hotel") }}{{ $nighthalt = index (split .url "/" ) 6 | humanize }}{{ end }}
                {{- end -}}

                {{ if eq (add $i 1) (len $.Params.itinerary)}} Departure{{ else }} {{ $nighthalt }}{{ end }}
              </button>
              <div class="panel">

                {{- range $j, $element := $e.item -}}

                    <div class="row">
                      <div>
                        <i class="icon-{{ .type }}"></i>
                      </div>
                      <div class="h3">
                      {{ if eq .type "hotel"}}You stay at {{- end }}
                      {{- with .title }}
                        {{ . }}
                      {{ else }}
                        {{ with ($.Site.GetPage (printf "%s%s" .url "index.md")) }}{{ .Title }}{{ end }}
                      {{- end }}
                      </div>
                    </div>

                  <p>{{ .content }}</p> 

                  {{- if eq .type "city" }} 
                    {{- range ( where ( where $.Site.Pages "Section" "destinations") ".RelPermalink" .url ) }} 
                      {{ partial "image-single" . }}
                    {{- end }}
                  {{- else }}
                    {{- range ( where ( where $.Site.Pages "Section" "destinations") ".RelPermalink" .url ) }} 
                      {{ partial "image-box.html" . }}
                    {{- end }}
                  {{- end -}}
    
                  {{- if ne $j (sub (len $e.item) 1) }} <hr>{{ end -}}

                {{- end }}
              </div>
            </div>
            {{ end }}
            <div id="map" class="tab-pane ">
              <div class="mx-auto w-50 p-3">
              </div>
            </div>
            <div id="similar" class="tab-pane ">
              <div class="mx-auto w-50 p-3">
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>

   {{- end }}
   {{- define "postscript" }}

   <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("activeAccordion");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }

    document.getElementById("AccordionCollapse").addEventListener("click", function(){
      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
        acc[i].classList.remove('activeAccordion');
        var panel = acc[i].nextElementSibling;
        panel.style.maxHeight = null;
      };
    });

    document.getElementById("AccordionExpand").addEventListener("click", function(){
      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
        acc[i].classList.add("activeAccordion");
        var panel = acc[i].nextElementSibling;
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  </script>

  {{- end }}