{{"<!-- Google Tag Manager -->" | safeHTML }}
{{- if not .Site.IsServer }}
 {{- if and (eq .Site.Params.env "PUBLIC") (ne .Site.Params.gtm_id "") }}
	<link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
  	<link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','{{ .Site.Params.gtm_id }}');</script>
  {{- end }}
{{- end }}
