{{- $contactdata  := index .Site.Data "contact" }}
{{- $words        := countwords (truncate 25 .Summary) }}
{{- $description  := cond ( gt $words 5 ) (truncate 25 .Summary) .Site.Params.description }}
{{- $reviewers    := len (where .Site.Pages "Params.media" "tripadvisor") -}}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
{{"<!-- Title Tags -->" | safeHTML }}
<title itemprop="name">Odyssey Tours | {{ with .Params.metatitle }}{{ . }}{{ else }}{{ .Title }}{{ end }} </title>
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
{{"<!-- Description Tags -->" | safeHTML }}
<meta name="description" content="{{- with .Params.description }}{{.}}{{ else }}{{ $description }}{{ end }}" />
<meta itemprop="description" content="{{- with .Params.description }}{{.}}{{ else }}{{ $description }}{{ end }}" />
<meta property="og:description" content="{{- with .Params.description }}{{.}}{{ else }}{{ $description }}{{ end }}" />
<meta name="twitter:description" content="{{- with .Params.description }}{{.}}{{ else }}{{ $description }}{{ end }}" />
{{"<!-- Link Tags -->" | safeHTML }}
<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />
{{"<!-- Language Tags -->" | safeHTML }}
<meta property="og:locale" content="{{ .Language.Lang }}">
<meta name="language" content="{{ .Language.LanguageName }}">
{{- range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{- end }}
{{ "<!-- Image Tags -->" | safeHTML }}
{{- with .Params.image }} 
<meta itemprop="image" content="{{ . | absURL }}" />
<meta property="og:image" content="{{ . | absURL }}" /> 
<meta name="twitter:image" content="{{ . | absURL }}" />
<meta name="twitter:image:src" content="{{ . | absURL }}" /> 
{{- else }}
<meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" /> 
{{- end }}
{{"<!-- Date, Sitemap, and RSS Tags -->" | safeHTML }}
<meta property="og:updated_time" content="{{ with .Date }}{{ . | safeHTML }} {{- else -}} {{ (now.AddDate 0 -1 1).Format "2006-01-02" | safeHTML }} {{- end }}" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />
{{- with .OutputFormats.Get "RSS" }}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{- end }}
{{"<!-- Schema -->" | safeHTML }}
{{- if eq .CurrentSection.Params.translationKey "accommodation" }} 
{{- partial "schemas/accommodation.html" . }} 
{{- end }}
{{- if eq .CurrentSection.Params.translationKey "reviews" }} 
{{- partial "schemas/reviews.html" . }} {{ end }}    
{{- if and (ne .CurrentSection.Params.translationKey "accommodation" ) (ne .CurrentSection.Params.translationKey "reviews")}} 
{{- partial "schemas/base.html" . }} 
{{- end }}
{{"<!-- Favicon Tags -->" | safeHTML }}
{{- partial "favicons.html" . }} 
{{"<!-- Search Engine Crawler Tags -->" | safeHTML }}
{{ if eq .Params.noindex true -}}
<meta name="robots" content="noindex,nofollow" />
<meta name="googlebot" content="noindex,nofollow" />
{{- else -}}
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
{{- end }}
{{"<!-- Twitter Cards -->" | safeHTML -}}
{{ partial "twitter_cards.html" . }}
{{"<!-- Open Graph -->" | safeHTML }}
{{ partial "opengraph.html" . }}
{{ with .Site.Social.facebook_app_id }}<meta property="fb:app_id" content="{{ . }}" />{{ end }}
<link rel="publisher" href="https://plus.google.com/u/0/b/100518806882374754841/100518806882374754841">
{{- with .Site.Params.author }}
<link rel="author" href="{{ $.Site.Params.author_link }}" title="{{ . }}">
{{- end }}
{{"<!-- Other Tags -->" | safeHTML }}
<link rel="manifest" href="/manifest.json" />
<meta name="copyright" content="&copy; {{ .Site.Params.copyrightYear }} {{ .Site.Params.copyright }}">
<meta name="theme-color" content="#b4a258;" /> 
<meta name="msapplication-TileColor" content="#141414" />
<meta name="keywords" content="{{- with .Params.keyword -}} {{ . }} {{- else -}} {{- with .Site.Params.keywords -}} {{ . }} {{ end }} {{ end }}" />
<meta name="imagemode" content="force" />
<meta name="coverage" content="Worldwide" /> 
<meta name="distribution" content="Global" />
<meta name="HandheldFriendly" content="True" /> 
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-touch-fullscreen" content="yes" />   
{{ hugo.Generator }}
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
{{"<!-- plugins -->" | safeHTML }}
{{- range .Site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .link | absURL }} ">
{{- end }}   
{{"<!-- Stylesheets -->" | safeHTML }}
<style>
{{- with resources.Get "css/critical.css"  -}} 
  {{ .Content | safeCSS }}
{{- end -}}
</style>
{{- with .Params.css }}
{{"<!-- Customs scripts -->" | safeHTML }}
  {{- range . }}
<link src="{{.}}" rel="stylesheet"/>
  {{- end }}
{{- end }}
{{"<!-- Google Tag Manager -->" | safeHTML }}
{{ partial "gtm.html" . }}
{{- `<!-- CSS for IE -->
<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="../css/ie.css" />
<![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --> `| safeHTML}}
</head>
