<article dataRating={{ with .Params.rating }}"{{ . }}"{{ else }}"1"{{ end }} city="{{ .CurrentSection.Parent.Title }}">
	<h3>
		<a href="{{ .Permalink }}">{{ .Title }}</a> &nbsp;
		{{ with .Params.rating }}
		{{ "$" | strings.Repeat . }}
		{{- end }}
	</h3>
	<h4 class="subtitle">{{ .CurrentSection.Parent.Title }}</h4>
	{{ .Content }}
	<figure > 
 		{{- range ( where ( where $.Site.Pages "Section" "destinations") ".RelPermalink" .RelPermalink ) }} 
            {{ partial "image-box.html" . }}
        {{- end }}
	</figure>
</article>