   <div class="row details">
          <div>
            <label for="flight-date" class="label">Date</label>
          </div>
          <div>
            <input type="date" name="flight-date" placeholder="dd/mm/yyyy" class="input">
          </div>
           <div>
            <label for="flight-number">Flight No</label>
          </div>
          <div>
            <input type="text" name="flight-number" class="input">
          </div>
          <div>
            <label for="flight-from">From</label>
          </div>
          <div>
            <input type="text" name="flight-from" class="input">
          </div>
          <div>
            <label for="flight-to">To</label>
          </div>
          <div>
            <input type="text" name="flight-to" class="input">
          </div>
          <div>
            <label for="flight-etd">ETD</label>
          </div>
          <div>
            <input type="time" name="flight-etd" placeholder="hh:mm" class="input">
          </div>
          <div>
            <label for="flight-eta">ETA</label>
          </div>
          <div>
            <input type="time" name="flight-eta" placeholder="hh:mm" class="input">
          </div>
        </div>