   <div class="row details">
          <div>
            <label for="flightDate" class="label">Date</label>
          </div>
          <div>
            <input type="date" name="flightDate" placeholder="dd/mm/yyyy" class="input">
          </div>
           <div>
            <label for="flightNo">Flight No</label>
          </div>
          <div>
            <input type="text" name="flightNo" class="input">
          </div>
          <div>
            <label for="flightFrom">From</label>
          </div>
          <div>
            <input type="text" name="flightFrom" class="input">
          </div>
          <div>
            <label for="flightTo">To</label>
          </div>
          <div>
            <input type="text" name="flightTo" class="input">
          </div>
          <div>
            <label for="flightEtd">ETD</label>
          </div>
          <div>
            <input type="time" name="flightEtd" placeholder="hh:mm" class="input">
          </div>
          <div>
            <label for="flightEta">ETA</label>
          </div>
          <div>
            <input type="time" name="flightEta" placeholder="hh:mm" class="input">
          </div>
        </div>