   <div class="row details">
          <div>
            <label for="excursion-date" class="label">Date</label>
          </div>
          <div>
            <input type="date" name="excursion-date" placeholder="dd/mm/yyyy" class="input">
          </div>
          <div>
            <label for="excursion-etd">ETD</label>
          </div>
          <div>
            <input type="time" name="excursion-etd" class="input" placeholder="hh:mm">
          </div>
          <div>
            <label for="excursion-duration">Duration</label>
          </div>
          <div>
            <input type="time" name="excursion-duration" class="input" placeholder="hh:mm">
          </div>
        </div>