<div class="row details">
  <div>
    <label for="checkInDate" class="label">Check-in</label>
  </div>
  <div>
    <input type="date" name="checkInDate"  placeholder="dd/mm/yyyy" class="input">
  </div>
  <div>
    <label for="checkInTime">ETA</label>
  </div>
  <div>
    <input type="time" name="checkInTime" placeholder="hh:mm" class="input">
  </div>
  <div>
    <label for="checkOutDate" class="label">Check-out</label>
  </div>
  <div>
    <input type="date" name="checkOutDate" placeholder="dd/mm/yyyy" class="input">
  </div>
  <div>
    <label for="checkOutTime">ETD</label>
  </div>
  <div>
    <input type="time" name="checkOutTime" placeholder="hh:mm" class="input">
  </div>
</div>