   <div class="row details">
          <div>
            <label for="check-in-date" class="label">Check-in</label>
          </div>
          <div>
            <input type="date" name="check-in-date"  placeholder="dd/mm/yyyy" class="input">
          </div>
          <div>
            <label for="check-in-time">ETA</label>
          </div>
          <div>
            <input type="time" name="check-in-time" placeholder="hh:mm" class="input">
          </div>
          <div>
            <label for="check-out-date" class="label">Check-out</label>
          </div>
          <div>
            <input type="date" name="check-out-date" placeholder="dd/mm/yyyy" class="input">
          </div>
          <div>
            <label for="check-out-time">ETD</label>
          </div>
          <div>
            <input type="time" name="check-out-time" placeholder="hh:mm" class="input">
          </div>
        </div>