{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ1TWStdIWQYeNDBKpE6SgJSEd4EerEdg&amp;callback=initMap" async="" defer=""></script>



<script>
  // regions
  var locations = [
  [26.92555556, 75.82361111, 'image_1.png', '/explore-india/explore-by-region/rajasthan-the-north/'],
  [32.28555556, 77.16222222, 'image_2.png', '/explore-india/explore-by-region/foothills-of-the-himalaya/'],
  [24.63750000, 87.84861100, 'image_3.png', '/explore-india/explore-by-region/kolkata-the-east/'],
  [23.02166667, 72.59027778, 'image_4.png', '/explore-india/explore-by-region/gujarat-central-india/'],
  [18.999803, 72.817383,     'image_5.png', '/explore-india/explore-by-region/mumbai-goa-the-deccan/'],
  [13.05027778, 80.23222222, 'image_6.png', '/explore-india/explore-by-region/karnataka-tamil-nadu/'],
  [8.36944444, 77.00444444,  'image_7.png', '/explore-india/explore-by-region/kerala/'],
  [11.63722222, 92.72805556, 'image_8.png', '/explore-india/explore-by-region/andaman-nicobar-islands/'],
  [10.951111, 72.287778,     'image_9.png', '/explore-india/explore-by-region/the-lakshadweep-islands/'],
  ];

  function initMap() {
    map = new google.maps.Map(document.getElementById('thememap'), {
      zoom: 4,
      center: new google.maps.LatLng(23.268764, 81.474609),
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      mapTypeControl: false,
      streetViewControl: false,
      panControl: false,
      scrollwheel: false,
      navigationControl: false,
      scaleControl: false,
      draggable: false,
      disableDefaultUI: true,
    });

    var gmarkers = new Array();

    for (var i = 0; i < locations.length; i++) { 

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map,
        icon: '/markers/' + locations[i][2],
        url: locations[i][3]
      });

      gmarkers.push(marker);

      google.maps.event.addListener(marker, 'click', function() {
        window.location.href = this.url;
      });
    };
  };

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/popper.min.js" type="module"   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"   crossorigin="anonymous"></script>
{{"<!-- scripts-->" | safeHTML }}
{{- with .Params.javascript }}
{{"<!-- Customs scripts -->" | safeHTML }}
  {{- range . }}
<script src="{{.}}" ></script>
  {{- end }}
{{- end }}

{{- $style := resources.Get "css/odyssey.css" | fingerprint }}
<script>
(function() {
    var cssMain = document.createElement('link');
    cssMain.href = "{{ $style.Permalink }}";
    cssMain.rel = 'stylesheet';
    cssMain.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(cssMain);
})();
</script>

{{- $id := cond (isset .Params "id") .Params.id .CurrentSection.Params.translationKey -}}
{{- $scss := printf "scss/main/%s.scss" $id -}}
{{- if fileExists (printf "assets/%s" $scss) -}}
{{- $style := resources.Get $scss | toCSS | minify}}
<script>
(function() {
    var cssMain = document.createElement('link');
    cssMain.href = "{{ $style.Permalink }}";
    cssMain.rel = 'stylesheet';
    cssMain.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(cssMain);
})();
</script>
{{- end }}

{{- $cookie  := resources.Get "js/cookie-consent.js" | resources.ExecuteAsTemplate (printf "js/%s/cookie-consent.js" .Lang) . }}

{{- $toggle  := resources.Get "/js/dropdownToggle.js" -}}
{{- $lazy    := resources.Get "/js/lazysizes.min.js" -}}
{{- $sw      := resources.Get "/js/sw.js" -}}
{{- $mobile  := resources.Get "/js/mobile-menu.js" -}}
{{- $tooltip := resources.Get "/js/tooltip.js" -}}
{{- $tours   := resources.Get "/js/tours.js" -}}
{{- $hotels  := resources.Get "/js/hotels.js" -}}
{{- $region  := resources.Get "/js/region.js" -}}
{{- $js      := slice  $toggle $lazy $mobile $cookie $tours $hotels  | resources.Concat "js/script.js"   }}
<script src="{{ $js.RelPermalink }}" defer></script>

{{- if eq $.Params.translationKey "gallery" }}
{{"<!-- Gallery script -->" | safeHTML }}
  {{- $gallery := resources.Get "/js/gallery.js" -}}
<script src="{{ $gallery.RelPermalink }}" defer></script>
{{- end }}

<!-- service worker -->
<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/sw.js', { scope: '/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>

<!-- carousel -->
<script>
$('#carousel').carousel({
    interval: 4000
})

$('.carousel-item', '.multi-item-carousel').each(function(){
  var next = $(this).next();
  if (! next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
}).each(function(){
  var prev = $(this).prev();
  if (! prev.length) {
    prev = $(this).siblings(':last');
  }
  prev.children(':nth-last-child(2)').clone().prependTo($(this));
});

</script>

<!-- tim -->
<script>
function submit_by_id() {
  var url = document.getElementById("url").value;
  window.location.href = url;
}
</script>


