{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/popper.min.js" type="module"   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"   crossorigin="anonymous"></script>
{{"<!-- scripts-->" | safeHTML }}
{{- with .Params.javascript }}
{{"<!-- Customs scripts -->" | safeHTML }}
  {{- range . }}
<script src="{{.}}" ></script>
  {{- end }}
{{- end }}

{{- $style := resources.Get "css/odyssey.css" | fingerprint }}
<script>
(function() {
    var cssMain = document.createElement('link');
    cssMain.href = "{{ $style.Permalink }}";
    cssMain.rel = 'stylesheet';
    cssMain.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(cssMain);
})();
</script>

{{- $id := cond (isset .Params "id") .Params.id .CurrentSection.Params.translationKey -}}
{{- $scss := printf "scss/main/%s.scss" $id -}}
{{- if fileExists (printf "assets/%s" $scss) -}}
{{- $style := resources.Get $scss | toCSS | minify}}
<script>
(function() {
    var cssMain = document.createElement('link');
    cssMain.href = "{{ $style.Permalink }}";
    cssMain.rel = 'stylesheet';
    cssMain.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(cssMain);
})();
</script>
{{- end }}

{{- $cookie  := resources.Get "js/cookie-consent.js" | resources.ExecuteAsTemplate (printf "js/%s/cookie-consent.js" .Lang) . }}

{{- $toggle  := resources.Get "/js/dropdownToggle.js" -}}
{{- $lazy    := resources.Get "/js/lazysizes.min.js" -}}
{{- $sw      := resources.Get "/js/sw.js" -}}
{{- $mobile  := resources.Get "/js/mobile-menu.js" -}}
{{- $tooltip := resources.Get "/js/tooltip.js" -}}
{{- $js      := slice  $toggle $lazy $mobile $tooltip $cookie | resources.Concat "js/script.js"   }}
<script src="{{ $js.RelPermalink }}" defer></script>

{{- if eq $.Params.translationKey "gallery" }}
{{"<!-- Gallery script -->" | safeHTML }}
  {{- $gallery := resources.Get "/js/gallery.js" -}}
<script src="{{ $gallery.RelPermalink }}" defer></script>
{{- end }}

<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/sw.js', { scope: '/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>

<script>
  var data = [

    {{ range .Site.Taxonomies.tags.cities }}  "{{ .Title }}", {{ end }}

    ];

function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
} 
</script>


 <script>
autocomplete(document.getElementById("myInput"), data);
</script> 

<script>
window.onload = function() {
  document.getElementById('first').style.display = 'none';
  document.getElementById('second').style.display = 'none';
};

document.getElementById("myForm").addEventListener("submit", hideFunction);

function hideFunction(event){
  event.preventDefault();
  var str = $("#myInput").val();
  var city = str.toLowerCase();
  var url = 'http://localhost:1313/states/uttar-pradesh/cities/'
  var url = url.concat(city,'/');
  //if(str=='Agra'){
  $("#first").css('display','block');
  //}else{
  //  $("#first").css('display','none');
 // }
  
  var request = new XMLHttpRequest();

request.open('GET', url, true);

request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    var resp = request.responseText;

    document.querySelector('#first').innerHTML = resp;
  }
};

request.send();
}


</script>