{{"<!-- Cookie consent -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" async></script>
{{"<!-- Bootstrap requirements -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/popper.min.js" type="module" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!-- append odyssey style sheet -->
{{- $style := resources.Get "css/odyssey.css" | fingerprint -}}
<script>
(function() {
    var cssMain = document.createElement('link');
    cssMain.href = "{{ $style.Permalink }}";
    cssMain.rel = 'stylesheet';
    cssMain.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(cssMain);
})();
</script>

<!-- append page specific style sheet -->
{{- $id := cond (isset .Params "id") .Params.id ( cond (eq .CurrentSection.Kind "taxonomy") "tour-ideas" .CurrentSection.Params.translationKey ) -}}

{{- $scss := printf "scss/main/%s.scss" $id -}}

{{- if fileExists (printf "assets/%s" $scss) -}}
  {{- $style := resources.Get $scss | toCSS | minify -}}

  <script>
  (function() {
      var cssMain = document.createElement('link');
      cssMain.href = "{{ $style.Permalink }}";
      cssMain.rel = 'stylesheet';
      cssMain.type = 'text/css';
      document.getElementsByTagName('head')[0].appendChild(cssMain);
  })();
  </script>
{{- end -}}

<!-- get scripts ready to bundle as /js/script.js -->
{{- $cookie  := resources.Get "js/cookie-consent.js" | resources.ExecuteAsTemplate "js/cookie-consent.js" . }}
{{- $toggle  := resources.Get "/js/dropdownToggle.js" -}}
{{- $lazy    := resources.Get "/js/lazysizes.min.js" -}}
{{- $sw      := resources.Get "/js/sw.js" -}}
{{- $mobile  := resources.Get "/js/mobile-menu.js" -}}
{{- $tooltip := resources.Get "/js/tooltip.js" -}}
{{- $tours   := resources.Get "/js/tours.js" -}}
{{- $region  := resources.Get "/js/region.js" -}}
<!-- bundle the above now -->
{{- $js      := slice  $toggle $lazy $mobile $cookie | resources.Concat "js/script.js" }}
<script src="{{ $js.RelPermalink }}" defer></script>
<!-- bundle completed -->


{{"<!-- custom scripts -->" | safeHTML }}

{{- if $.Param "tim" -}}
  {{"<!-- TIM -->" | safeHTML }}
  <script>
  function submit_by_id() {
    var url = document.getElementById("url").value;
    window.location.href = url;
  }
  </script>
{{- end }}


{{- if $.Param "service-worker" -}}
  {{"<!-- service worker -->" | safeHTML }}
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/sw.js', { scope: '/' })
        .then(function(registration) {
            //console.log('Service Worker Registered');
        });

      navigator.serviceWorker
        .ready
        .then(function(registration) {
            //console.log('Service Worker Ready');
        });
    }
  </script>
{{- end }}


