<article dataCost="{{ .Params.cost }}" dataDuration="{{ .Params.days }}">
  <div class="article-image">
    <figure >
        <a  href="{{ .Permalink }}" class="hover-effect">
        <img alt="{{ .Title}}" src="{{ .Permalink }}/{{ .Params.image }}">
        </a>
    </figure>
  </div>
  <div class="article">
    <div class="article-details" > 
      <a  href="{{ .Permalink }}" class="hover-effect">  
        <h3>{{ .Title }}</h4>
        <h4>{{ .Params.subtitle }}</h5>
      </a>
      <h4 class="highlights">Highlights:</h4>
      <ul class="ul">
      {{ range .Params.highlights }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    </div>
    <div class="article-pricing">
      <div class="days">{{ .Params.days }} Days</div>
      <div>from</div>
      <div class="price">{{ .Params.currency }} {{ .Params.cost }}</div>
      <div class="view"><a title="View this tour" href="{{ .Permalink }}">View this tour</a></div>
      <div class="request"><a title="Request a quote" href="/contact/contact-us">Request a quote</a></div>
    </div>
  </div>
</article>