{{ define "main" }}
{{ .Scratch.Set "layout" "layouts/excursions/single.html" -}}

{{- $image := cond (isset .Params "image") ( .Params.image ) (.CurrentSection.Params.image) }}
        
<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="mx-auto w-50 p-1">
        {{ .Content }}      
      </div>
      {{- range ( where ( where $.Site.Pages "Section" "destinations") ".RelPermalink" .RelPermalink ) }} 
 	    {{- partial "image-box.html" . }}
      {{- end }}
    </div>
  </div>
</section>
{{ end }}
