{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/index.html" }}
<section id="{{ .Scratch.Get "id" | lower }}"> 

<!-- First Parallax Section -->
<div class="jumbotron paral paralsec position-relative">
  <h3 class="display-1 position-absolute top-50 start-50 translate-middle">
    Great!! It looks like you're thinking<br>of a trip to India!
    <p class="lead">
      <a class="btn btn-lg btn-md" href="/tour-ideas/" role="button">Welcome</a>
    </p>
  </h3>
</div>

{{ partial "home/we-are-odyssey.html" . }}

<!-- Second Parallax Section -->
<div class="jumbotron paral paralsec1 position-relative">
  <h3 class="display-1 position-absolute top-50 start-50 translate-middle">
    Tell us where you would like to go.<br />
    <em>We Provide You An Ultimate Travel Experience</em>
    <p class="lead">
      <a class="btn btn-lg btn-md" href="/explore-india/by-state/" role="button">Have a taste</a>
    </p>
  </h3>
</div>

{{ partial "home/explore.html" . }}

<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec2 position-relative">
  <h3 class="display-1 position-absolute top-50 start-50 translate-middle">
    What experiences or activities do you fancy?
    <p class="lead">
      <em>Just get in touch and we will start advising and planning ith you</em>
    </p>
    <p class="lead">
      <a class="btn btn-lg btn-md" href="/experience/unique-experiences/" role="button">Explore</a>
    </p>
  </h3>
</div>

{{ partial "home/themes.html" . }}

{{ partial "home/region.html" . }}

<!-- Fourth Parallax Section -->
<div class="jumbotron paral paralsec3 position-relative">
  <h3 class="display-1 position-absolute top-50 start-50 translate-middle">
    Start planning your trip!
    <p class="lead"><em>We are just a chat session away</em></p>
  </h3>
</div>

{{ partial "home/newspaper.html" . }}

</section>
{{ end }}
{{ define "postscript" }}

{{"<!-- Google map -->" | safeHTML }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ1TWStdIWQYeNDBKpE6SgJSEd4EerEdg&amp;callback=initMap" async="" defer=""></script>
{{- $js := resources.Get "/js/region.js" }}
<script src="{{ $js.RelPermalink }}" defer></script>

<script>
  let items = document.querySelectorAll('.carousel .carousel-item')

  items.forEach((el) => {
      // number of slides per carousel-item
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) {
              // wrap carousel by using first child
              next = items[0]
          }
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0])
          next = next.nextElementSibling
      }
  })
</script>

{{ end }} 