{{ define "main" }}
{{ .Scratch.Set "layout" "layouts/data/hotels/single.html" -}}

{{- $categoryData  := .Site.Data.categories }}
{{- $tagData       := .Site.Data.tags }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}



<main>
    <div class="container">
        <div class="jss374 jss371 jss413">
            <div>
                <div class="jss4548">
                    <div class="jss4549">
                        <div class="supplier-hdr">
                            <div class="mr-30"><h2 class="title-header" data-test="itineraries_title">Hotels</h2></div>
                            <div class="jss4555">
                                <a class="create-button" tabindex="0" role="button" data-test="create_supplier_button" href="/suppliers/create"><span >Create hotel</span></a>
                            </div>
                        </div>
                        <div class="odc2">
                            <div class="section">
                                <div>
                                    <button class="search" tabindex="0" type="button">
                                        <span class="jss502">
                                            <svg class="jss470" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                                <path
                                                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                                                ></path>
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                            </svg>
                                        </span>
                                    </button>
                                    <input class="search-box" placeholder="Search" role="searchbox" value="" />
                                </div>
                            
                                <div class="flex" role="switch" aria-checked="false" tabindex="0">
                                    <div class="show-archived" data-test="archive_toggle_text">Show archived</div>
                                    <button class="btn-archive" tabindex="0" type="button">
                                        <span>
                                            <svg class="svg-archive" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                                <path d="M17 7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h10c2.76 0 5-2.24 5-5s-2.24-5-5-5zM7 15c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path>
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">
                                    <span class="odc8" tabindex="0" role="button" data-column="name">
                                        <span class="supplier-name">Hotel name</span>
                                        <svg class="svg-arrow" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                                        </svg>
                                    </span>
                                </th>
                                <th scope="col" width="200">
                                    <span class="odc8" tabindex="0" role="button" data-column="type">
                                        <span class="supplier-name">City</span>
                                        <svg class="svg-arrow" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                                        </svg>
                                    </span>
                                </th>
                                <th scope="col" width="300">
                                    <span class="supplier-name">Country</span></th>
                                <th scope="col" width="170">
                                    <span class="odc8" tabindex="0" role="button" data-column="created_at">
                                        <span class="odc1">Created</span>
                                        <svg class="svg-arrow" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                                        </svg>
                                    </span>
                                </th>
                                <th scope="col" width="34"><span></span></th>
                                <th scope="col" width="34"><span></span></th>
                            </tr>
                        </thead>
                        <tbody class="jss4652">
                          {{ $range     := sort ( where ( where .Site.Pages "Section" "destinations") ".Params.type" "hotel" ) ".Title" "asc" }}
                          {{ with ($.Site.GetPage (printf "/%s/%s" "tags" "Cities")) }}
                          {{ $paginator := (.Paginator 10).Pages }}
                          
                          {{ range (.Paginator 10).Pages }}
                            {{ $array := split .RelPermalink "/" }}
                            {{ $city  := index $array (sub (len $array) 4) }}
                            {{ $country := index $array 2 }}
                            <tr class="jss4635 t6 jss4637 t8" data-index="7">
                                <td class="jss4640 t10 jss4642 jss5036"><div class="jss5076" style="max-width: 300px;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div></td>
                                <td class="jss4640 t10 jss4642">{{ if ne $city "destinations" }}{{ $city | humanize }}{{ end }}</td>
                                <td class="jss4640 t10 jss4642"><div class="jss5076" style="max-width: 300px;">{{ $country | humanize }}</div></td>
                                <td class="jss4640 t10 jss4642">{{ .PublishDate.Format "January 2, 2006" }}</td>
                                <td class="jss4640 t10 jss4642 jss5039"></td>
                                <td class="jss4640 t10 jss4642" data-test="supplier_options_menu">
                                    <div class="menu-icon">
                                        <button class="menu-icon-btn" tabindex="0" type="button" data-test="options" aria-label="More" aria-haspopup="true" title="More">
                                            <span class="svg-menu-span">
                                                <svg class="svg-menu" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                          {{- end }}
                          {{ template "_internal/pagination.html" . }}
  {{ end }}
                         
                        </tbody>
                    </table>
                </div>
                <div class="jss4546">
                    <button class="jss503 jss5040 jss4572 jss5042 jss5044 jss5045 jss5047 jss4575 jss5063 jss4573" tabindex="0" type="button" data-test="more"><span class="jss5041 jss4580">Load more</span></button>
                </div>
            </div>
        </div>
    </div>
</main>

  </section>
  {{- end }}
  {{- define "postscript" }}
  <script type="module" src="/js/app/dataHotels.js"></script>
  {{- end }}