{{ define "main" }}
{{ .Scratch.Set "layout" "layouts/data/hotels/single.html" -}}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
 <div class="row">
    <div id="image"></div>
    <div class="data">

      <div class="table even">
        <div class="item-1">
          <option value="0">Select a hotel</option>
        </div>
        <div class="item-2">
          <select name="destination" id="hotels">
            <option value="0"></option>
           {{- range sort ( where ( where $.Site.Pages "Section" "destinations") ".Params.type" "hotel" ) ".Title" "asc" }}
             {{ $array := split .RelPermalink "/" }}
            {{ $path  := index $array (sub (len $array) 4) }}
              <option value="{{ .RelPermalink }}">{{ .Title }}{{ if ne $path "destinations" }}, {{ $path | humanize }}{{ end }}</option>
           {{- end }}
         </select> 
       </div>
     </div>

    <div class="table">
      <div class="item-1"><b>Field</b></div>
      <div class="item-2"><b>Data</b></div>
    </div>

     <div class="table even">
      <div class="item-1">URL </div>
      <div id="url" contenteditable="true" class="item-2"></div>
    </div>
    
    <div class="table even">
      <div class="item-1">Title </div>
      <div id="title" contenteditable="true" class="item-2"></div>
    </div>

    <div class="table odd">
      <div class="item-1">Address</div>
      <div class="item-2">
         <textarea id="address" contenteditable="true" class="custom-control-input" type="text"></textarea>
      </div>
    </div>

    <div class="table odd">
      <div class="item-1">City</div>
      <div id="city" contenteditable="true" class="item-2"></div>
    </div>

    <div class="table odd">
      <div class="item-1">Postal code</div>
      <div class="item-2">
        <div class="form-check">
          <input id="postalcode" class="custom-control-input" type="int" min=0 max=900000 step=1 value="">
        </div>
      </div>
    </div>

    <div class="table odd">
      <div class="item-1">Phone</div>
      <div class="item-2">
         <textarea id="phone" contenteditable="true" class="custom-control-input" type="text"></textarea>
      </div>
    </div>

    <div class="table odd">
      <div class="item-1">Email</div>
      <div class="item-2">
        <textarea id="email" contenteditable="true" class="custom-control-input" type="text"></textarea>
      </div>
    </div>

    <div class="table odd">
      <div class="item-1">Website</div>
      <div id="www" contenteditable="true" class="item-2"></div>
    </div>
    
    <div class="table odd">
      <div class="item-1">Book through</div>
      <div id="bookThrough" contenteditable="true" class="item-2"></div>
    </div>

    <div class="table odd">
      <div class="item-1">Mail to</div>
      <div id="mailTo" contenteditable="true" class="item-2"></div>
    </div>

    <div class="table odd">
      <div class="item-1">Note</div>
       <div id="note" contenteditable="true" class="item-2"></div>
    </div>

    <div class="table odd">
      <div class="item-1">Access by air</div>
       <div id="accessAir" contenteditable="true" class="item-2"></div>
    </div>

   
    <div class="table odd">
      <div class="item-1">Access by rail</div>
       <div id="accessRail" contenteditable="true" class="item-2"></div>
    </div>

   
    <div class="table odd">
      <div class="item-1">Access by bus</div>
       <div id="accessBus" contenteditable="true" class="item-2"></div>
    </div>

    <div class="table odd">
      <div class="item-1">Check Out</div>
       <div id="checkout" contenteditable="true" class="item-2"></div>
    </div>

    <div class="table even">
      <div class="item-1">Rooms</div>
      <div class="item-2">
        <div class="form-check">
          <input id="rooms" class="custom-control-input" type="int" min=0 max=500 step=1 value="">
        </div>
      </div>
    </div>

     <div class="table even">
      <div class="item-1">Star rating</div>
      <div class="item-2">
        <div class="form-check">
          <input id="starCategory" class="custom-control-input" type="int" min=0 max=6 step=1 value="">
        </div>
      </div>
    </div>

    <div class="table even">
      <div class="item-1">Ranking</div>
      <div class="item-2">
        <div class="form-check">
          <input id="ranking" class="custom-control-input" type="int" min=0 max=5 step=1 value="">
        </div>
      </div>
    </div>

    <div class="table odd">
      <div class="item-1">Nighthalt</div>
      <div class="item-2">
        <div class="form-check">
          <input id="nighthalt" class="custom-control-input" type="checkbox" value="">
        </div>
      </div>
    </div>

    <div class="table even">
      <div class="item-1">Category</div>
      <div class="item-2">
       <select id="category" name="category">
         <option value="0">No category</option>
         <option value="Standard Hotel">Standard Hotel</option>
         <option value="Comfortable Hotel">Comfortable Hotel</option>
         <option value="Superior Hotel">Superior Hotel</option>
       </select>
      </div>
    </div>

    <div class="table odd">
      <div class="item-1">Display</div>
      <div class="item-2">
        <div class="form-check">
          <input id="showHotel" class="custom-control-input" type="checkbox" value="">
        </div>
      </div>
    </div>

     <div class="table odd">
      <div class="item-1">Used for web site</div>
      <div class="item-2">
        <div class="form-check">
          <input id="web" class="custom-control-input" type="checkbox" value="">
        </div>
      </div>
    </div>

    <div class="table even">
      <div class="item-1">GST type</div>
      <div id="gstType" contenteditable="true" class="item-2"></div>
    </div>

  </div>
  <div class="content">
      <textarea id="content" contenteditable="true" class="content-column custom-control-input" type="text"> </textarea>
  </div>
</div>

<div class="mx-auto w-50">
    <div id="in-progress" class="spinner" role="status">
      <span class="sr-only">In progress...</span>
    </div>
    <div>
      <button class="save btn btn-success" id="save">
        <i class="icon-floppy"></i>
        Save
      </button>
    </div>
  </div>
</section>
{{- end }}
{{- define "postscript" }}
<script type="module" src="/js/app/dataHotels.js"></script>
{{- end }}