{{- define "main" }}

{{- .Scratch.Set "layout" "layouts/import/single.html" -}}

{{- $image := cond (isset .Params "image") ( .Params.image ) (.CurrentSection.Params.image) }}

<section id="{{ .Scratch.Get "id" | lower }}">  
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="content mx-auto w-50 p-3">
       	<form onsubmit="importdata()">
       		<label for="files">Choose a csv file</label>
	        <select name='files' id="file">
            <option value="addressbook.csv">Addressbook</option>
            <option value="airports.csv">Airports</option>
	        	<option value="cities.csv">Cities</option>
            <option value="distances.csv">Distances</option>
            <option value="services-desc.csv">Services descriptions</option>      
            <option value="costservices-entrance.csv">Entrance fees</option>             
            <option value="costservices-guides.csv">Guide fees</option>
            <option value="costservices-misc.csv">Miscilaneous fees</option>
            <option value="costservices-transport.csv">Transport fees</option>
            <option value="point2point.csv">Point2point charges</option>
            <option value="carhire.csv">Car hire</option>
            <option value="suppliers.csv">Suppliers</option>
						<option value="hotels.csv">Hotels</option>
            <option value="hotels-addressbook.csv">Hotels addressbook</option>
            <option value="hotel-contacts.csv">Hotel contacts</option>
            <option value="hotel-categories.csv">Hotels categories</option>
            <option value="hotelrates.csv">Hotel rates</option>
						<option value="services.csv">Excursions</option>
            <option value="supplier-contacts.csv">Supplier contacts</option>
						<option value="states.csv">States</option>
					</select>
				 <div>
				 	<input type="submit" value="Submit">
				 </div>
				</form> 
      </div>
      <div id="message"> </div>
    </div>
  </div>


{{ end }}
{{- define "postscript" }}
<script>
function importdata(){

	file = document.getElementById("file").value;

 	docLoad({
    url:    'import', 
    method: 'POST',
    data:   JSON.stringify({ 
      "file": file })
  })
  .then(

    function(response) {
      var element = document.getElementById("message");
      element.innerHTML = "<p class='green'>"+response+"</p>";
      console.table(response);
    }, 

    function(Error) {
      var element = document.getElementById("message");
      element.innerHTML = "<p class='red'>"+Error+"</p>";
      console.log(Error);
    }
  );
};

function docLoad(object) {

  return new Promise(function(resolve, reject) {

    var host = ((object.method == 'POST')? 
      {{- if (len (getenv "APP")) }}
      {{ getenv "APP" }}
      {{- else -}}
      {{ .Site.Params.appHost }}
      {{- end -}}
      : "")+object.url;

    var request = new XMLHttpRequest();
    request.open(object.method || "GET", host);
    request.setRequestHeader("Content-Type", "application/json");

    request.onload = function() {
      if (request.status === 200) {
        resolve(request.response);
      } else {
        reject(Error('Document requested did not load successfully; error code:' + request.statusText));
      }
    };

    request.onerror = function() {
      reject(Error('There was a network error.'));
    };
    request.send(JSON.stringify(object));
  });
}

</script>

{{ end }}