#city {

	.icon-bar  {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;  	
	}

	i[class*="icon-"] {
	font-weight: 600;
	  padding: 0.3em;
	  text-align: center;
	  width: 2.25rem;
    color: $primary;
	}

	.item {
	  width: 50px;
	}

	h2 {
    margin-bottom: 0;
	}

	h3 {
		text-align: center;
		font-style: italic;
		margin-bottom: 20px;
	}

  h4, h4 a {
    text-align: center;
    font-style: italic;
    color: $primary; 
    width: 100%;
  }

  p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

/* tab pages */


  .navbar-toggler-icon {
    height:0; 
    }

  .nav-tabs {
    background-color: $white; 
    border-bottom: 0;
    }

  .nav-tabs .nav-link {
    border-right: 1px solid $secondary;
    border-left:  1px solid $secondary;
    border-top:   1px solid $secondary; 
    }

  .nav-link.active {
    color: $secondary;
    background-color: $form;
    .tab-content > .tab-pane {
      display: block;
    }
  }

  a.nav-link {
    color: $secondary;
    font-size: 1rem; 
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    border-top: 1px solid $primary;
  }

  .tab-content {
    background-color: $form;
    padding: 20px; 
  }

  ul.bg {
    background-color: $form; 
  }

  ul.nav.nav-tabs {
    margin-bottom: 0;
    background-color: $white; 
  }

  .tab-wrapper {
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center; 
    background-color: $white;
  }

  li {
    font-size: 1.2rem; 
  }

@media screen and (max-width: 760px) { 
  .nav {
    flex-direction: column;
  }
}

hr {
  border: 1px solid white;
  width: 100%;
}

/* Google Map */
  
 #map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/* itinerary */



.itineraries {
  margin: 10px 10px 10px 0;
}

article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  border: solid 1px $primary;
  padding: 5px;
  margin-top: 10px;
  background-color: $white;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 5px;
  margin: 0;
  background-color: $white;
  flex-grow: 1;
}

.article-image {
  width:30%;
  padding-right: 5px;
  flex-grow: 1;
}

.article-details {
  flex-grow: 1;
  h4 {
    margin-bottom: 0 ;
  }
  h5 {
    font-style: italic;
    color: $primary;
  }
}

.hover-effect {
  color: $primary;
}

.article-pricing{
  width:20%;
  padding-left: 5px;
  text-align: center;
}


.days {
  text-transform: uppercase;
  font-size: 1rem;
}

.price {
  font-size: 1.5rem;
  color: $primary;
  font-weight: 600;
}

.request {
  border: solid 1px $secondary;
  margin-bottom:5px;
  a {
    color: $primary;
  }
}


.ul{
  text-align: left;
}


}
