#itinerary {
	
textarea {
  width: 100%;
}

.editable {
 
}
.mx-auto.w-50 {
  margin-top: 0;
}

#image {
  height: 200px;
  background-size: cover;
  margin-bottom: 10px;
}

#info {
padding: 10px;
background-color: $white;
color: $body;
}

label {
  width: 100px;
  padding-left: 10px;
}
select {
  height: 40px;
  overflow: hidden;
}

.maxwidth  {
  width: 60%;
}

i,select {
  display:inline-block;
}
.hr-text {
  line-height: 2em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 2em;
  opacity: .5;
  font-size: 1.4em;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: lightgray;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #000;
    background-color: white;
  }
}

[class^="icon-"] {
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}
.icon-bed {
  background-color: orange;
}
.icon-camera {
  background-color: darkgreen;
}
.icon-pencil {
  background-color: blue;
}
.icon-search, .icon-spin3 {
  color: gray;
}
button.save {
  background-color: blue;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.mr-10 {
  margin-right: 10px;
}

/* ----- */

.containers {
  min-height: 200px;
}
.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.3rem;
  margin: auto;
  background: #a8a8a8;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.main-container {
  display: block;
  margin-top: 30px;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  margin: 1.6rem auto;
  margin-top: 0;
}

#itinerary {
  margin: 0 0.6rem;
  width: 70%; 
}

.to-do-column {
  width: 30%; 
  margin: 0 0.6rem;
  background-color: #d3d3d31c;
  border: lightgray 1px solid;
  border-radius: 0.2rem;
  color: gray;
}

.column-header {
  padding: 0.1rem;
  background: lightblue;
  h4 {
    text-align: center;
  }
}

.trash-column .column-header {
  background: #ff4444;
  color: gray;
  .icon-trash{
   background: #ff4444;
   color: gray;
   cursor: pointer;
  }
}

.dossier {
  justify-content: space-between;
  align-items: center;
  margin: 0 0px 10px 0px;
}
.task-list {
  min-height: 3rem;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.day {
  width: 5%;
  text-align: center;
}
.program {
width: 95%;
  flex-grow: 1;
}

.button {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: #000013 0.14rem solid;
  border-radius: 0.2rem;
  color: #000013;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4444;
  margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover {
  background-color: #fa7070;
}


@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

.draggable {
  display: flex;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  transition: all 0.3s;
  margin-bottom: 20px;
  height: 100%;
  border: #d3d3d333 .15rem solid;
  border-radius: 0.2rem;
  cursor: move;
  text-align: left;
  vertical-align: middle;
  font-family: "Roboto Slab", serif;
  &.dragging {
    opacity: 0.8;
    background-color: yellow;
    border: dashed 1px red;
  }
  .editButton > i {
    display: none;
  }
  &:hover{
    .editButton > i {
      display: block;
      cursor: pointer;
      color: white;
      background-color: blue;
    }
  }
}

.draggable:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}


input {
  width: 100%;
  margin-right:0 !important;
  background: #fff;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
}

.select.icon {
  background-color: blue;
  color: white;
  padding: 5px;
}



#selectHotels, #selectExcursions, #selectCars {
  visibility: hidden;
}
.content {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}
.image {
  width: 150px;
  min-width: 150px;
  padding-right: 10px;
}



 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
#modal {
  margin: 0px 20px 0px 20px;
  width: 100%;

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* % from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;

    #modelContent {
      padding:20px;
      border: 1px solid lightgray;
    }
  }

  .input.content {
    width: 100%;
    border: solid 1px lightgray;
    min-height: 50px;
  }

  .close-btn{
     background-color: #fefefe;
  }
  /* The Close Button */
  .close-btn > i {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

    .row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      &.buttons {
        margin-top: 30px;
      }
    }
    label {
      margin: 0;
      padding: 0;
      .label {
      width: 100px;
      }
    }
    input {
      border: solid 1px lightgray;
      height: 3rem;
    }

    [class^="icon-"] {
      border-radius: 0;
      color: white;
    }
    button {
      padding: 0 20px 0 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    }
    button.default {
      background-color: darkgray;
    }
    button.save {
      background-color: red;
    }
    .cancel {
      width: 100%;
      text-align: right;
    }
    .icon-cancel {
        color: $body;
        font-size: 1.5rem;
        cursor: pointer;
      }
  }

}