#itinerary {
	
.mx-auto.w-50 {
  margin-top: 0;
}

#cityImage {
  height: 200px;
  background-size: cover;
  margin-bottom: 10px;
}

label {
  width: 100px;
  padding-left: 10px;
}
select {
  width: 300px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, #000, #000,  #000);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #000;
    background-color: #90ee90;
  }
}

.icon-bed {
	color: black;
}


/* ----- */


.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.3rem;
  margin: auto;
  background: #a8a8a8;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  margin: 1.6rem auto;
  width: 100%;
  margin-top: 0;
}

.column {
  width: 33%;
  margin: 0 0.6rem;
  background: #a8a8a8;
  border: #000013 0.2rem solid;
  border-radius: 0.2rem;
}

.column-header {
  padding: 0.1rem;
  border-bottom: #000013 0.2rem solid;
}

.column-header h4 {
  text-align: center;
}

.to-do-column .column-header {
  background: #ff872f;
}

.workspace-column .column-header {
  background: #13a4d9;
}

.itinerary-column .column-header {
  background: #15d072;
}

.new-task-column .column-header {
  background: #ffcb1e;
  border-top: #000013 .2rem solid;
}

.trash-column .column-header {
  background: #ff4444;
  border-top: #000013 .2rem solid;
}

.task-list {
  min-height: 3rem;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.button {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: #000013 0.14rem solid;
  border-radius: 0.2rem;
  color: #000013;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4444;
  margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover {
  background-color: #fa7070;
}

.add-button {
  background-color: #ffcb1e;
  padding: 0 1rem;
  height: 2.8rem;
  margin-top: 0.6rem;
}

.add-button:hover {
  background-color: #ffdd6e;
}

.search-button {
  background-color: #ff872f;
  padding: 0 1rem;
  height: 2.8rem;
  margin-top: 0.6rem;
}

.search-button:hover {
  background-color: #ff872f;
}

@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");
.draggable {
  display: flex;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  transition: all 0.3s;
  margin: 0.4rem;
  height: 4rem;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  cursor: move;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto Slab", serif;
  &.dragging {
    opacity: 0.8;
    background-color: yellow;
    border: dashed 1px red;
  }
}


input {
  width: 100%;
  margin-right:0 !important;
  background: #fff;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
}

.select.icon {
  background-color: blue;
  color: white;
  padding: 5px;
  width: auto; ;
}

#selectHotels, #selectExcursions {
  visibility: hidden;
}

}