#itinerary {

 

  .tour-region{
    font-weight: 600;
    font-size: 1.2rem;
  }

  label {
    display: flex;
    align-items: center;
    height: 1.8rem;
  }

  input[type=checkbox] {
    width: auto;
    flex: none;
  }

  .custom-select, .tour-section {
    margin-left: 10px;
  }

   #message.spinner {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid green;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    animation: spin 2s linear infinite;
    margin-left: 48vw;
    display: none;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .modal-url {
    width: 100%;
    margin-left: 20px;
  }

  textarea {
    white-space: pre-line;
    white-space: pre-wrap;
    height: 200px;
  }

  .inclusions {
    width: 100%;
  }

.inclmargin {
  margin-left: 20px;
}
  .inclheading {
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
  }

  .incldetails {
    display: flex;
    justify-content: flex-start;
  }

  .rowdetails {
    display: flex;
    justify-content: space-between;
  }

  .rowdetails {
    visibility: hidden;
  }
  .rowdetails.show{
    visibility: visible;
  }

  .mx-auto.w-50 {
    margin-top: 0;
  }

  #image {
    height: 200px;
    background-size: cover;
    margin-bottom: 10px;
  }

  #info {
    padding: 10px;
    background-color: $white;
    color: $body;
  }

  select {
    height: 40px;
    overflow: hidden;
  }

  
  form {
    width: 100%;
  }

  .maxwidth  {
    width: 60%;
  }

  i,select {
    display:inline-block;
  }
  
  hr {
    margin: 0px;
  }

  .hr-text {
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 2em;
    opacity: .5;
    font-size: 1.4em;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: lightgray;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #000;
      background-color: white;
    }
  }

    
  .icon-pencil {
    background-color: blue;
  }
  .icon-search, .icon-spin3 {
    color: gray;
  }

  .mr-10 {
    margin-right: 10px;
    width: 100%;
  }

  /* ----- */

  .containers {
    min-height: 100px;
  }
  .add-task-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5.3rem;
    margin: auto;
    background: #a8a8a8;
    border: #000013 0.2rem solid;
    border-radius: 0.2rem;
    padding: 0.4rem;
  }

  .main-container {
    display: block;
    
  }

  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    margin: 1.6rem auto;
    margin-top: 0;
  }

  #myItinerary, .intro {
    margin: 0 0.6rem;
    width: 70%; 
  }

  textarea.intro-content  {
    width: 100%;
  }

.row.subtitle{
  margin:0;
}
  .intro-subtitle, intro-weight {
    flex-grow: 1;
    padding-left: 10px;

  }

  input#intro-subtitle, input#intro-weight {
    border: 0;
    height: inherit;
     text-align: left;
     width: inherit;
  }

  .search-label {
    width: 20%;
  }

  .to-do-column {
    width: 30%; 
    margin: 0 0.6rem;
    background-color: #d3d3d31c;
    border: lightgray 1px solid;
    border-radius: 0.2rem;
    color: gray;
  }

  .column-header {
    padding: 0.1rem;
    background: lightblue;
    h4 {
      text-align: center;
    }
  }

  .trash-column .column-header {
    background: #ff4444;
    color: gray;
    .icon-trash{
     background: #ff4444;
     color: gray;
     cursor: pointer;
   }
 }

 .dossier {
  justify-content: space-between;
  align-items: center;
  margin: 0 0px 10px 0px;
}
.task-list {
  min-height: 3rem;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.day {
  width: 5%;
  text-align: center;
}
.program {
  width: 95%;
  flex-grow: 1;
}



.delete-button {
  background-color: #ff4444;
  margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover {
  background-color: #fa7070;
}


@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

.draggable {
  display: flex;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  transition: all 0.3s;
  margin-bottom: 0px;
  height: 100%;
  border: #d3d3d333 .15rem solid;
  border-radius: 0.2rem;
  cursor: move;
  text-align: left;
  vertical-align: middle;
  font-family: "Roboto Slab", serif;
  &.dragging {
    opacity: 0.8;
    background-color: yellow;
    border: dashed 1px red;
  }
  .editButton > i {
    display: none;
  }
  &:hover{
    .editButton > i {
      display: block;
      cursor: pointer;
      color: white;
      background-color: blue;
    }
  }
}

.draggable:hover {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}


input {
  width: 100%;
  margin-right:0 !important;
  background: #fff;
  border: #000013 0.15rem solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
}



.select.icon {
  color: black;
  padding: 5px;
  cursor: pointer;
  border-radius: 90%;
}



#selectHotels, #selectCity, #selectExcursions, #selectCarHire, #selectCars, #selectFlights, #selectTrains {
  visibility: hidden;
}
.content {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}
.image {
  width: 150px;
  min-width: 150px;
  padding-right: 10px;
}



/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

  /* Modal Content/Box */
  #modal-insert-day, 
  #modal-delete-day, 
  #modal-city, 
  #modal-hotel, 
  #modal-excursion, 
  #modal-flight, 
  #modal-train {
    margin: 0px 20px 0px 20px;
    width: 100%;

    .modal-content {
      background-color: #fefefe;
      margin: 5% auto; /* % from the top and centered */
      padding: 20px;
      width: 80%; /* Could be more or less, depending on screen size */
      height: 80%;

      #modelContent {
        padding:20px;
        border: 1px solid lightgray;
      }
    }

    .input.content {
      width: 100%;
      border: solid 1px lightgray;
      min-height: 50px;
      padding-left: 10px;
    }

    .close-btn{
      background-color: #fefefe;
    }
    /* The Close Button */
    .close-btn > i {
      color: red;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close-btn:hover,
    .close-btn:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    } 

    .row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      &.buttons {
        margin-top: 30px;
      }
    }
    label {
      margin: 0;
      padding: 0;
      text-align: center;
      .label {
        width: 100px;
      }
    }
    input {
      border: solid 1px lightgray;
      height: 3rem;
    }

    
    button {
      padding: 0 20px 0 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    }
    button.default {
      background-color: darkgray;
    }
    button.save {
      background-color: red;
      color: $white;
      font-weight: bold;
    }
    .cancel {
      width: 100%;
      text-align: right;
    }
    .icon-cancel {
      color: $body;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  #modal-city .details{
    visibility: hidden;
  }


//  buttons

$height:35;
$depth:6;
$color:#7fbb98;
$text-color:darken($body,10%);
$lighten-on-hover:7%;
$button-speed:.06;
$timing-function: ease-out;

.button {
  cursor:pointer;
  margin-left:5px;
  margin-bottom:15px;
  box-sizing:border-box;
  font-size:0.9em;
  text-decoration:none;
  font-weight:bold;
  color:$text-color;
  &:visited {
    color:$text-color;
  }
  height:$height+px;
 
  padding: 0 (($height/2)+px);
  display:inline-block;
  width:auto;
  background: linear-gradient(to bottom,
    saturate(lighten($color,15%),35%) 0%,
    saturate(lighten($color,12%),15%) 26%,
    $color 100%);
  border-radius:5px;
  border-top:1px solid lighten($color,22%);
  border-bottom:1px solid lighten($color,20%);
 top:0;
  transition:all ($button-speed + s) $timing-function;
  position:relative;
}
.button:hover {
  background: linear-gradient(to bottom,
    lighten(saturate(lighten($color,15%),35%),$lighten-on-hover) 0%,
    lighten(saturate(lighten($color,12%),15%),$lighten-on-hover) 26%,
    lighten($color,$lighten-on-hover) 100%);
}
.button:active {
  top:$depth+px;
       text-shadow:0 -2px 0 darken($color,0%),0 1px 1px lighten($color,20%), 0 0 4px white ;
  
  &:before {
    top:0;
    box-shadow: 0 3px 3px rgba(0,0,0,.7),0 3px 9px rgba(0,0,0,.2);

  }
}
.button:before {
  display:inline-block;
  content:'';
  position:absolute;
  left:0;
  right:0;
  z-index:-1;
  top:($depth)+px;
  border-radius:5px;
  height:($height)+px;
  background: linear-gradient(to top,
    saturate(darken($color,40%),15%) 0%,
    saturate(darken($color,25%),10%) $depth+px);
  transition:all (($button-speed*1.3) + s) $timing-function;
  box-shadow:
    0 1px 0 2px rgba(0,0,0,.3),
    0 5px ($depth*.4+px) rgba(0,0,0,.5),
    0 ($depth*1.8+px) 9px rgba(0,0,0,.2);
    
  
}

}