#tim {

* { box-sizing: border-box; }

.autocomplete {
width:300px;
}
form {
  margin-bottom: 30px;
}


a.link-unstyled {
font-weight: 400;
color: black;
}
.table {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
flex-wrap: wrap;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.item {
width: 33%;
}

}

section {
  min-height: 80vh;
}