#tour {

  *, ::after, ::before {
    box-sizing: border-box;
  }


  .excursionNames {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 15px;
    font-size: 0.8rem;
  }

  .dayHr {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 0;
    border: solid 1px;
  }

  .tourHeading {
    color: $white;
    background: $black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .accordion-controls {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    padding: 0.5rem 0;
  }

  .accordion-controls .opener {
    margin-right: 5rem;
    margin-bottom: 0;
  }
  .accordion-controls .collapser, .accordion-controls .opener {
    position: relative;
    font-family: Sans-Serif;
    cursor: pointer;
  }

  .h3 {
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    flex:1;
    margin-bottom: 20px;
  }

  .accordion-controls .opener .plus-icon {
    height: 20px;
    width: 20px;
  }

  .collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
    &.show {
      max-height: 99em;
      transition: max-height .5s ease-in-out;
    }
  }

  .accordion-row {
    padding: 1.1rem 0;
  }
  .accordion-title {
    z-index: 1;
    position: relative;
  }

  .accordion-row .accordion-title h5 {
    opacity: 1;
    transition: opacity .1s ease;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 4rem;
  }

  .icon-plus {
    padding: 0;
    margin-right: 20px;
    background-color: $primary;
    color: $form;
    width: 40px;
    border-radius: 50%;
  }

  span {
    font-size: 0.9em;
    & .icon-plus {
      padding: 0;
      margin-right: 20px;
      background-color: $body;
      color: $form;
      width: 20px;
      border-radius: 50%;
    }
  }

  .right-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .right-button .icon-plus::before {
    transform: translate(-50%,-50%) rotate(90deg);
    transition: transform .2s ease;


  }



  svg.expand {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    color: rgb(168, 172, 179);
    box-sizing: inherit;
    touch-action: none;
    fill: currentColor;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    height: 30px;
  }

  .accordion {
    background-color: $white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #444;
    cursor: pointer;
    padding: 15px 15px 0 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.4s;
  }

  .activeAccordion, .accordion:hover {
    background-color: $white;
  }

  .activeAccordion > svg{
    transform: rotate(180deg);
    transition: transform .4s ease;
  }
  .accordion:after {
    content: '';
  }

  .activeAccordion:after {
    content: "";
  }

  .panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .places {
    margin-top: 20px;
  }

  .subtitleData {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .textData {
    font-weight: 600;
    color: $white;
    flex: 0 0 50%;
    width: 50%;
    text-transform: uppercase;
    padding-left: 10px;
  }

  .flex-item {
    flex:1;
    margin-left: 5px;
  }

  .grow {
    flex-grow: 1;
  }

  .hr-text {
    line-height: 2em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 2em;
    opacity: .8;
    font-size: 1.4em;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: lightgray;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #000;
      background-color: white;
    }
  }

  .left {
    text-align: left;
  }

  /* tab pages */
  .navbar-toggler-icon {
    height:0; 
  }

  .nav-tabs {
    background-color: $white; 
    border-bottom: 0;
  }

  .nav-tabs .nav-link {
    border-right: 1px solid $secondary;
    border-left:  1px solid $secondary;
    border-top:   1px solid $secondary; 
  }

  .nav-link.active {
    color: $white;
    background-color: $green;
    .tab-content > .tab-pane {
      display: block;
    }
  }

  a.nav-link {
    font-size: 1rem; 
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    border-top: 1px solid $primary;
  }

  .tab-content {
    background-color: $page;
    padding: 2px; 
  }

  ul.bg {
    background-color: $form; 
  }

  ul.nav.nav-tabs {
    margin-bottom: 0;
    background-color: $white; 
  }

  .tab-wrapper {
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center; 
  }

  .desktop {
    display: flex;
  }

  @include media-below(sm) { 
    .nav {
      flex-direction: column;
    }
    .desktop {
      display: none;
    }
  }


  #itinerary {
    text-align: left;
  }

  .ml-10 {
    margin-left: 10px;
  }

  .day {
    font-weight: 800;
  }

  .carousel-indicators [data-bs-target] 
  {
    border-top: 5px solid white;
  }

  .row.hotel {
    padding-top: 20px;
    padding-bottom: 20px;
    background: $black;
    color: $white;
    margin-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .row.text{
    padding-left: 10px;
    padding-right: 5px; 
  }

  .h3.hotel {
    text-align: left;
    margin-bottom: 10px;
  }

  .hotelCategory {
    margin-bottom: 10px;
  }

  a.hotel {
    color: $white;
  }

  .readMore {
    border: 0px;
    color: $white;
    text-align: left;
  }

  div[id^='hotelInfo-']{
    display: none;
  }

  .carousel-inner{
    margin-bottom: 20px;
  }

  .details{
    background-color: $page ;
  }

  .card {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .arrow {
    height: 24px;
    position: absolute;
    right: 10px;
    pointer-events: none;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .readMoreArrow {
    height: 24px;
    pointer-events: none;
    transition: fill 200ms cubic-bezier(.4,0,.2,1)0ms;
    fill: $white;
  }

  .flexrow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .dot {
    height: 5px;
    width: 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
  }

  .down {
    transform: rotate(180deg);
    transition: transform .4s ease;
  }

  .desktop {
    display:  none;
  }

  @include media-above(sm) { 

    .specifications {
      flex-direction: row;
      justify-content: space-between;
    }

    .desktop {
      display:  flex;
    }

    .desktop-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .carousel {
      width: 40%;
      flex: 0 0 40%;
    }

    .row.text{
      display: block;
      padding-left: 30px;
      padding-right: 30px;
    }

    .tab-wrapper {
      width: 100%;
      padding-right: var(--bs-gutter-x,.75rem);
      padding-left: var(--bs-gutter-x,.75rem);
      margin-right: auto;
      margin-left: auto;
      max-width: 1320px;
    }
    .readMore {
      display: none;
    }

    div[id^=hotelInfo-] {
      display: block;
      padding-left: 30px;
      padding-right: 30px;
    }

    .textData{
      padding-left: 0;
    }

    .specs {
      flex-direction: column;
      flex: 1;
    }

  }



}