#tour-ideas {



.topbar {
	background-color: $primary;
	text-align: center;
	text-transform: uppercase;
	color: $white;
	padding:5px;
	width: 100%;
}

#content {
	background-color: lightgray;
}
.filter {
	background-color: $white;
	padding: 10px;
	margin: 10px 0 10px 10px;
}
.itineraries {
	margin: 10px 10px 10px 0;
}

#main {
  background-color: lightgray;
}

article {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	border: solid 1px $primary;
	padding: 5px;
	margin-top: 10px;
	background-color: $white;
}

.article {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: nowrap;
	padding: 5px;
	margin: 0;
	background-color: $white;
	flex-grow: 1;
}

ul {
	margin-left: -25px;
}

.article-image {
	width:30%;
	padding-right: 5px;
	flex-grow: 1;
}

.article-details {
	flex-grow: 1;
    h4 {
		margin-bottom: 0 ;
	}
	h5 {
		font-style: italic;
		color: $primary;
	}
}

.article-pricing{
width:20%;
padding-left: 5px;
text-align: center;
}


.days {
	text-transform: uppercase;
	font-size: 1rem;
}

.price {
	font-size: 1.5rem;
	color: $primary;
	font-weight: 600;
}
.button {
	border: solid 1px $secondary;
	text-transform: uppercase;
	padding: 5px;
  	font-size: 0.6rem;
  	margin-top:10px;
  	a {
  		color: $primary;
  	}
}


.box, .box2 {
	background-color: beige;
	margin-bottom: 10px;
	padding: 0 10px 0 10px;
}
.box2 {
	padding: 10px;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem; 
}

.label {
	font-weight: 800;
}


a#showall {
	visibility: none;
}
.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
 	background-color: $secondary;
 	color: $white;
}

.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* slider bar */

.custom-range {
	width: 100%;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* end */
}