@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/proxima_ssv/ProximaNova-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/proxima_ssv/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proxima_ssv/ProximaNova-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/fontello/fontello.woff2?52223417') format('woff2'),
       url('/fonts/fontello/fontello.woff?52223417') format('woff'),
       url('/fonts/fontello/fontello.ttf?52223417') format('truetype'),
       url('/fonts/fontello/fontello.eot?52223417#iefix') format('embedded-opentype'),
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello/fontello.svg?52223417#fontello') format('svg');
  }
}
*/

body {
  font-size: 1rem;
  color: $body;
/*  
changed this in bootstrap variables to reduce redundency
font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
*/
   }

h2 {
  text-align: center; }
  
a {
  color: $anchor;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: $anchor-hover;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto; }

figcaption {
  width: 100%
}

ol:before.no-content, li:before.no-content {
  content: ' '; }

p.left, div.left {
  text-align: left; }


.block {
  display: block; }

.more-details {
  text-align: center;
  margin-top: 20px; }

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px; }

.btn-primary {
  color: white;
  background-color: $primary;
  border-color: $secondary;}

.btn-primary:hover {
  background-color: $secondary;
  border-color: $tertiary;}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid rgba(0,0,0,0.1);}

.mb-10 {
  margin-bottom: 10px;}
.mb-20 {
  margin-bottom: 20px;}
.mt-30 {
  margin-bottom: 30px;}
.mt-10 {
  margin-top: 10px;}
.mt-20 {
  margin-top: 20px;}
.mt-30 {
  margin-top: 30px;}

.ml-auto, .mx-auto {
    margin-left: auto !important;}
.mr-auto, .mx-auto {
    margin-right: auto !important;}

iframe .gtm {
  display:none; 
  visibility:hidden;
  }
