:root {
  --font-primary: "Raleway", sans-serif; 
  --font-secondary: "Raleway",sans-serif; 
}
/* --font-secondary:  "Playfair Display",sans-serif; */

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  line-height: 1.15
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block
}

body {
  font-family: var(--font-primary);
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  font-weight: 400;
  line-height: 1.7;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}


@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/fontello/fontello.woff2?52223417') format('woff2'),
       url('/fonts/fontello/fontello.woff?52223417') format('woff'),
       url('/fonts/fontello/fontello.ttf?52223417') format('truetype'),
       url('/fonts/fontello/fontello.eot?52223417#iefix') format('embedded-opentype'),
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello/fontello.svg?52223417#fontello') format('svg');
  }
}
*/

div > h2 {
  text-align: center;
  font-family: var(--font-secondary);
  text-align: center; 
  margin-bottom: 20px;
  font-size: 2rem; 
  background: linear-gradient(0deg, $primary, $secondary);
  color: $white;
  }
  
a {
  color: $anchor;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: $anchor-hover;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto; }

figcaption {
  width: 100%
}

ol:before.no-content, li:before.no-content {
  content: ' '; }

p.left, div.left {
  text-align: left; }


.block {
  display: block; }

.more-details {
  text-align: center;
  margin-top: 20px; }

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px; }

.btn-primary {
  color: white;
  background-color: $primary;
  border-color: $secondary;}

.btn-primary:hover {
  background-color: $secondary;
  border-color: $tertiary;}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid rgba(0,0,0,0.1);}

.mb-10 {
  margin-bottom: 10px;}
.mb-20 {
  margin-bottom: 20px;}
.mt-30 {
  margin-bottom: 30px;}
.mt-10 {
  margin-top: 10px;}
.mt-20 {
  margin-top: 20px;}
.mt-30 {
  margin-top: 30px;}

.ml-auto, .mx-auto {
    margin-left: auto !important;}
.mr-auto, .mx-auto {
    margin-right: auto !important;}

iframe .gtm {
  display:none; 
  visibility:hidden;
  }

/* bg image */
  .hero.hero-image  {
  height: calc(300px + 200*((100vw - 768px)/832));
}

.hero:not(.bg-white) {
  color: #fff;
}

.hero:not(.hero--bg) {
  background-color: #737778;
}

.hero {
  display: block;
  position: relative;
  align-items: center;
}

.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

 