{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/sustainable/list.html" -}}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="mx-auto w-50 p-3">
        {{ with .Params.subtitle }}<h3>{{ . }}</h3>{{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
    <div class="tab-wrapper">
      <nav id="myTab" class="nav flex-column flex-sm-row" >
         
          <a id="principles" class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#principles" >
            Our Principles
          </a>
          
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#sustainably">
            How to travel sustainably
          </a>
         
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="giving-back">
            Giving back
          </a>
        
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#covid">
            Travel after Covid-19
          </a>
      </nav>
      <div class="tab-content">
        <div id="principles" class="tab-pane active">
          <div class="row">
            {{"<!-- show the items -->" | safeHTML}}
            <div class="bg">
              <div class="card-deck">
                {{- range .Data.Pages }}
                {{- if in .CurrentSection.Permalink  "our-principles" }}
                {{- range .Data.Pages }}                
                <div class="card-holder">
                  <div class="card">
                    {{ partial "card-header.html" .}}
                    {{ partial "card-body.html" .}}
                  </div>
                </div>                  
                {{- end }}
                {{- end }}
                {{- end }}
              </div>
            </div>
          </div>
        </div>
        <div id="sustainably" class="tab-pane ">
           <div class="row">
            {{"<!-- show the items -->" | safeHTML}}
            <div class="bg">
              <div class="card-deck">
                {{- range .Data.Pages }}
                {{- if in .CurrentSection.Permalink  "sustainably" }}
                {{- range .Data.Pages }}                
                <div class="card-holder">
                  <div class="card ">     
                    {{ partial "card-header.html" .}}
                    {{ partial "card-body.html" .}}
                  </div>
                </div>                  
                {{- end }}
                {{- end }}
                {{- end }}
              </div>
            </div>
          </div>
            
        </div>

        <div id="giving-back" class="tab-pane ">
           <div class="row">
            {{"<!-- show the items -->" | safeHTML}}
           <div class="bg">
              <div class="card-deck">
                {{- range .Data.Pages }}
                {{- if in .CurrentSection.Permalink  "giving-back" }}
                {{- range .Data.Pages }}                
                <div class="card-holder">
                  <div class="card">
                    {{ partial "card-header.html" .}}
                    {{ partial "card-body.html" .}}
                  </div>
                </div>                  
                {{- end }}
                {{- end }}
                {{- end }}
              </div>
            </div>
          </div>
        </div>

        <div id="covid" class="tab-pane ">
           <div class="row">
            {{"<!-- show the items -->" | safeHTML}}
            <div class="bg">
              <div class="card-deck">
                {{- range .Data.Pages }}
                {{- if in .CurrentSection.Permalink  "covid-19" }}
                {{- range .Data.Pages }}                
                <div class="card-holder">
                  <div class="card">
                    {{ partial "card-header.html" .}}
                    {{ partial "card-body.html" .}}
                  </div>
                </div>                  
                {{- end }}
                {{- end }}
                {{- end }}
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    {{ partial "can-be-tailored.html" }}
  
</section>
{{"<!-- end Content -->" | safeHTML}}
{{- end }} 
{{- define "postscript" }}

<script>
$('#myTab a[href="#principles"]').tab('show') 

$('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>


{{ end }}