{{ $image := (.Get "src") }}
{{ with (.Site.GetPage $image) }}
{{ with .Resources.ByType "image" }}

<div class="image-box">
    {{- range $index, $src := first 5 . }}
    {{- if eq $index 0 }} 
    <div class="main-image"> 
        {{- $altTitle := replace .Title ".jpg" " " | replaceRE "[^a-z]" "-" }}
        {{- $title := split $altTitle "-" }}
        {{- $title := apply (after 4 $title) "urlize" "." }}
        {{- $title := delimit $title " " }}
        <img src="{{.RelPermalink}}" title="{{ $title }}" alt="{{ $altTitle | humanize }}">
    </div>
    {{- end }}
    {{- end }}
    <div class="image-box-red">
    {{- range $index, $src := first 5 . }}
    {{- if ne $index 0 }}     
    <div>
        {{- $altTitle := replace .Title ".jpg" " " | replaceRE "[^a-z]" "-" }}
        {{- $title := split $altTitle "-" }}
        {{- $title := apply (after 5 $title) "urlize" "." }}
        {{- $title := delimit $title " " }}
        <img src="{{.RelPermalink}}" title="{{ $title }}" alt="{{ $altTitle| humanize }}">
    </div>
    {{- end }}
    {{- end }}
    </div>
</div>
{{- end }}
{{- end }}