{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/states/list.html" }}

{{- $scratch := newScratch }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="mapcontainer">
            <div class="map">
                <span>The map of India</span>
            </div>
            <div class="areaLegend"></div>
            <div class="plotLegend"></div>
        </div>
      </div>
      <div class="col-4">
        <br>
     {{ .Content }}
      </div>
    </div>
  </div>

  <div class="bg">
    <div class="card-deck">
      {{- range .Data.Pages -}}
      <div class="card-holder">
        <div class="card">
          <div class="card-header">
            {{ range first 1 (.Resources.ByType "image") }} 
              <img class="lazyload" data-src="{{ .RelPermalink }}" alt="{{ substr .Title  0 -4 | humanize }}">
            {{ end }}
          </div>
          {{- partial "card-body"   . }}
        </div>
      </div>   
      {{- end }}
    </div>
  </div>
 
</section>
{{ end}}
{{- define "postscript" }}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.1.0/js/jquery.mapael.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/mapael/india_states.js" charset="utf-8"></script>

<script>
$(".mapcontainer").mapael(
{
    "map": {
        "name" : "india_states",
      //  "zoom": {
      //      "enabled": true,
      //      "maxLevel": 10,
      //  }
    }
,areas: {

{{- range .Data.Pages }}

  "{{ .Title }}": {
    attrs: {
      fill: "green"
    },
    tooltip: {
      content: "{{ .Title }}"
    },
    eventHandlers: {
      click: function () {
        var updatedOptions = {'areas': {}};

        {{- range $.Data.Pages }}
          updatedOptions.areas["{{ .Title }}"] = {
             attrs:{fill:"green"}
          }
        {{- end }}
        
        updatedOptions.areas["{{ .Title }}"] = {
          attrs:{fill:"red"}
        }
        $(".mapcontainer").trigger('update', [{
          mapOptions: updatedOptions, 
          animDuration: 300
        }]);
      }
    }
  },

{{- end }}

}
});

</script>
{{ end }}