// theme colours

$primary: #63582C;
$secondary: #b4a258;
$tertiary: #776644;
$body: #252525;
$anchor: #0072ed;
$anchor-hover: #0056b3;
$form: #f4ebdc;
$footer: #171717;
$page: #f4f4f5;

// colors

$white: #fff;
$black: #000;
$softblack: #292f36;
$darkgray: #4e595f;
$silver: silver;
$lightgray: #ddd;
$green: #00aa86;
$orange: #ff7f26; 

// icons

$info: blue;
$hotel: #ffa500;
$excursion: #90ee90;
$transfer: #c1d9b0;
$city: #dbacdf;
$flight: #00a1e4;
$train: #cd5c5c;
$carhire: #ffaf1e;

//social media

$youtube: #bb0000; 
$facebook: #3B5998;
$flickr: #f40083; 
$instagram: #125688;
$linkedin: #007bb5;
$pinterest: #cb2027;
$streetview: #dd4b39; 
$twitter: #55acee; 
$google: #dd4b39; 
$tripadvisor: #00c094;
$google-star: #F4B400;
$whatsapp: #25D366;
$reddit: #ff5700; 
$stumbleupon: #EB4823; 

$twitter-hover: #4c9ad6; 
$google-hover: #c64333; 
$facebook-hover: #2f4779; 
$linkedin-hover: #4069a2; 
$stumbleupon-hover: #d3401f; 
$pinterest-hover: #AD0000; 
$reddit-hover: #e54e00;

// alerts

$success: #218838;
$info: #138496;
$warning: #ffc107;
$danger: #dc3545;

// posts etc

$latest-post: #292F36;
$post-comment: #F76C5E;
$twitter-feed: #6cb670;

$icon-circle: '\f10c';

$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: $white;

// Z-indexes
// `l-` prefix for layout
// `c-` prefix for components
$z-indexes: (
    // position the cover below the whole blog
    'l-cover':             -1,
    'l-main':              10,
    'c-post-header-cover': 15,
    'l-header':            20,
    'l-sidebar':           20,
    'l-about':             30,
    'c-mask':              30,
    'c-post-bottom-bar':   40,
    'c-share-options-bar': 50,
    'c-tooltip':           1000,
    'c-overlay':           1009,
    'c-modal':             1010
);

// Displays
$phone:         320px;    
$tablet:        500px;
$laptop:        1200px;
$desktop:       1400px;
$large-display: 1920px;


