
.logo img {
	height: 70px;
}

h1 {
  font-family: var(--font-secondary);
  color: $primary;
  color: #63582c;
  position: absolute;
  top: 20px;
  left: 130px;
}

/*===  main menu ===*/

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; 
  } 
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; 
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal; 
}

#menu.flex-container {
  margin-top:0;
}
.navbar-nav .show > .nav-link,
.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link.active {
    color: $body; 
}

nav {
  top: 0;
  width: 100%;
  z-index: 10; }

.navbar {
  background-color: $white; }

ul.navbar-nav {
  margin-top: 0;
  background-color: transparent;
  padding-right: 0px; }

.nav-item {
  padding-right: 5px; }

.navbar-nav .nav-link {
  color: $body; 
  line-height:2;}

a#navbarDropdown0.nav-link.dropdown-toggle:hover,
a#navbarDropdown1.nav-link.dropdown-toggle:hover,
a#navbarDropdown2.nav-link.dropdown-toggle:hover,
a#navbarDropdown3.nav-link.dropdown-toggle:hover,
a#navbarDropdown4.nav-link.dropdown-toggle:hover,
a#navbarDropdown5.nav-link.dropdown-toggle:hover,
a#navbarDropdown6.nav-link.dropdown-toggle:hover,
a#navbarDropdown7.nav-link.dropdown-toggle:hover,
a#navbarDropdown8.nav-link.dropdown-toggle:hover,
a#navbarDropdown9.nav-link.dropdown-toggle:hover,
a#navbarDropdown99.nav-link.dropdown-toggle:hover,
.dropdown-item:hover, 
.dropdown-item:focus {
    background-color: $white;
    color: $primary; 
}

.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    height: 50px;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.dropup, .dropright, .dropdown, .dropleft {
  position: relative; }

.dropdown-toggle {
  white-space: nowrap; }

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.dropdown-toggle:empty::after {
  margin-left: 0; }

.dropdown-toggle::after, a.dropdown-item::after {
  display: none; }

.dropdown-menu {
  background-color: $white; }

.dropdown-menu.show {
  padding-top: 0px;
  padding-bottom: 0px;
}

a.nav-link {
  font-size: 1.2rem;
  font-weight: bold; 
  padding-bottom: 0;
}

.dropdown-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 13px 20px 11px;
    border-bottom: 1px dashed #e5e5e5;
    color: var(--main-primary-font);
    font-size: 15px;
    font-weight: 500;
}



/*=== breadcrumbs ===*/

ol.breadcrumb {
  padding: 0 1rem 0 1rem;
  background-color: transparent;
  margin-bottom: 0px;
  justify-content: flex-end;
  margin-right: 30px; 
  & .breadcrumb ol {
  min-height: 24px;
  line-height: 24px;
  list-style: none;
  overflow: auto; 
  }
}


.breadcrumb-item, .breadcrumb-item a, .breadcrumb-item.active {
  color: $body;
  font-size: 0.9rem; }

.breadcrumb-item + .breadcrumb-item::before {
    color: $primary; 
    content: "*"; }

@media screen and (max-width: 778px) {
  p, li {
    line-height: 1.5rem;
    font-size: .9rem; }

  .navbar {
    background-color: transparent; } 




}

@media screen and (max-width: 991px) {




  .w-50, .w-25, .w-75 {
    width: 100% !important; }

  .navbar  {
    background-color: transparent; }

  header  .collapse {
    background-color: $secondary;
   }

  .navbar-toggler {
    visibility: visible; }

  a.nav-link:hover {
    background-color: menu; }

  .navbar-toggler {
    border-color: $secondary; }

  .navbar-toggler {
    background-color: $primary;
    border-width: 2px;
    color: white;
    background-image: url(/img/mobile-menu.png);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat; }

  .navbar-toggler:focus, .navbar-toggler:hover {
    background-color: $secondary;
    border-color: $primary; }

  .color-changed{
    background-color:#282a28!important;
    opacity: 0.96;
  }

  .dropdown-item {
    background-color: $gray-800;
    opacity: 0.96;
    text-align: center;
    color: $white;
  }

  .mybar {
    text-align: right; }

  .nav-item {
    text-align: left;
    padding-right: 0; }

  .bread-bar {
    display: none; }

  .navbar-nav .nav-link {
    padding-left: 10px;
    font-size: 1rem; }

  #content h3 {
    font-size: 1.6rem; }
}


  .bread-bar {
    visibility: visible; } 

  .menu-language {
    display: none;}

  .fa.menu {
    display: $displayMenuIcons; }


/*=== Flag language navigation ===*/
@media screen and (min-width: 992px) {
  .language {
    display: none;
  }
}

.flagselect {
  display:none;
  padding: 0px;
  margin: 0px;
  font-size: 90%;
}

.flagnoselect {
  padding: 0px;
  margin: 0px;
  font-size: 90%;
}

.flag {
  width: 20px;
}

.dropdown-menu.dropflag {
  min-width: 2rem;
  text-align: center;
}



/* non clickable menu */


@media screen and (min-width: 768px){

  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu{
    margin-top: 0;
  }
  .dropdown-toggle{
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    margin-bottom: 0;
  }
}

