#header {

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
}

svg {
  width: 111px;
  height: 30px;
  font-weight: 900;
  font-size: 90px;
  fill: $secondary; }

h1, h2.odyssey {
  padding-left: 5px;
  margin: 0 0 0px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: .1em; 
  color: $white;
  text-shadow: 0 1px 2px RGB(0 0 0 / 90%);
}


h1 {
  line-height: 1em;
  font-size: 1.8rem;
  color: $white; }

h1.odyssey img {
  height: 22px;
  width: auto;
  margin-bottom: 3px; }


$phone: 320px;    
  $tablet: 500px;
  $laptop: 1200px;
  $desktop: 1400px;
  $large-display: 1920px;

  @mixin resize($size) {
    $result: $size;
    @media only screen and (max-width: $large-display){
      $result: $size * 2;
      font-size: $result;
    }
    @media only screen and (max-width: $desktop){
      $result: $size * 1.5;
      font-size: $result;
    }
    @media only screen and (max-width: $laptop){
      $result: $size * 1;
      font-size: $result;
    }
    @media only screen and (max-width: $tablet){
      $result: $size * .75;
      font-size: $result;
    }
    @media only screen and (max-width: $phone) {
      $result: $size * .5;
      font-size: $result;
    }
  }


  span.h1 {
    @include resize(1.5rem);
  }


/*===  main menu ===*/

.flex-container {
  margin-top: 0;
}

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal; }

nav {
  top: 0;
  width: 100%;
  z-index: 10; }

.navbar-overlay {
  margin-bottom: -104px;
  z-index: 1; }

/* margin-bottom pulls the content under the navbar up by 104px which is the height of your navbar.
   z-index tells the browser that your navbar should be ontop of your content. This allows your links in your navbar to still work when you hover over them.
*/

.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

ul.navbar-nav {
  margin-top: 0;
  background-color: transparent;
  padding-right: 0px; }

.nav-item {
  padding-right: 20px; }

.navbar-dark .navbar-nav .nav-link {
  color: $white; 
  line-height:2;
  padding-right: 10px;}

a#navbarDropdown0.nav-link.dropdown-toggle:hover,
a#navbarDropdown1.nav-link.dropdown-toggle:hover,
a#navbarDropdown2.nav-link.dropdown-toggle:hover,
a#navbarDropdown3.nav-link.dropdown-toggle:hover,
a#navbarDropdown4.nav-link.dropdown-toggle:hover,
a#navbarDropdown5.nav-link.dropdown-toggle:hover,
a#navbarDropdown6.nav-link.dropdown-toggle:hover,
a#navbarDropdown7.nav-link.dropdown-toggle:hover,
a#navbarDropdown8.nav-link.dropdown-toggle:hover,
a#navbarDropdown9.nav-link.dropdown-toggle:hover,
a#navbarDropdown99.nav-link.dropdown-toggle:hover,
.dropdown-item:hover, 
.dropdown-item:focus {
  background-color: $white;
  color: $black; }

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;}

.dropup, .dropright, .dropdown, .dropleft {
  position: relative; }

.dropdown-toggle {
  white-space: nowrap; }

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.dropdown-toggle:empty::after {
  margin-left: 0; }

.dropdown-toggle::after, a.dropdown-item::after {
  display: none; }

.dropdown-menu {
  background-color: rgba(128, 128, 128, 0.5); }

.dropdown-menu.show {
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0.9; }

a.nav-link {
  font-size: 1.2rem;
  font-weight: bold; }

.navbar-scroll {
  background-color: rgba(0, 123, 255, 0.4);
  transition: background-color 0.5s; }

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.fixed-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.bg-primary {
  background-color: #191970 !important; }

.dropdown-item {
  font-weight: 600;
  color: white;
  font-size: 1rem;
  background: gray;
  padding: .25rem 0 .25rem 0.5rem; }


/*=== breadcrumbs ===*/

ol.breadcrumb {
  background-color: transparent;
  margin-bottom: 0px;
  justify-content: flex-end;
  margin-right: 30px; 
  padding-top: 0;}

.breadcrumb ol {
  min-height: 24px;
  line-height: 24px;
  list-style: none;
  overflow: auto; }

.breadcrumb-item, .breadcrumb-item a, .breadcrumb-item.active {
  color: white;
  font-weight: bold;
  font-size: 0.9rem; }

.breadcrumb-item + .breadcrumb-item::before {
    color: $white; }

@media screen and (max-width: 778px) {
  p, li {
    line-height: 1.5rem;
    font-size: .9rem; }

  .navbar {
    background-color: transparent; } 
}

@media screen and (max-width: 991px) {
  .w-50, .w-25, .w-75 {
    width: 100% !important; }

  .navbar {
    background-color: transparent; }

  .navbar-toggler {
    visibility: visible; }

  a.nav-link:hover {
    background-color: menu; }

  .navbar-dark .navbar-toggler {
    border-color: $secondary; }

  .navbar-toggler {
    background-color: $primary;
    border-width: 2px;
    color: white;
    background-image: url(/img/mobile-menu.png);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat; }

  .navbar-toggler:focus, .navbar-toggler:hover {
    background-color: $secondary;
    border-color: $primary; }

  .navbar-dark.color-changed{
    background-color:#282a28!important;
    opacity: 0.96;
  }

  .dropdown-item {
    background-color: $gray-800;
    opacity: 0.96;
    text-align: center;
  }

  .mybar {
    text-align: right; }

  .nav-item {
    text-align: left;
    padding-right: 0; }

  .bread-bar {
    display: none; }

  .navbar-nav .nav-link {
    padding-left: 10px;
    font-size: 1rem; }

  #content h3 {
    font-size: 1.6rem; }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 5px 10px; }

  .navbar-toggler {
    display: none; 
  }

  .dropdown-menu {
    background-color: rgba(128, 128, 128, 0.5); 
    margin-top: 0;
  }
}

  .dropdown-item {
    font-weight: 600;
    color: white; }

   .navbar-nav .nav-link {
    font-size: 1.0625rem;
    font-weight: 600;
    padding: 0;
    color: white; }

  .bread-bar {
    visibility: visible; } 

  .menu-language {
    display: none;}

  .fa.menu {
    display: $displayMenuIcons; }


/*=== Flag language navigation ===*/
@media screen and (min-width: 992px) {
  .language {
    display: none;
  }
}

.flagselect {
  display:none;
  padding: 0px;
  margin: 0px;
  font-size: 90%;
}

.flagnoselect {
  padding: 0px;
  margin: 0px;
  font-size: 90%;
  text-align: left;
}

.flag {
  width: 20px;
}

.dropdown-menu.dropflag {
  min-width: 2rem;
  text-align: center;
}



/* non clickable menu */


@media screen and (min-width: 768px){

  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu{
    margin-top: 0;
  }
  .dropdown-toggle{
    margin-bottom: 2px;
  }
  .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    margin-bottom: 0;
  }
}


#text{
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-shadow: 2px 2px 5px gray;
}

.overlay {
  position: relative;
}

@media screen and (max-width: 768px){
  #text{
 font-size: 1.3rem;
}
}


}