{{- define "main" }}
{{"<!-- display city -->" | safeHTML}}
{{- $id       := cond (isset .Params "id") .Params.id .CurrentSection.Params.translationKey }}
{{- $image    := cond (isset .Params "image") ( .Params.image ) (.CurrentSection.Params.image) }}
{{- $scratch  := newScratch }}

<section id="{{ $id | lower }}"> 
   <div class="hero hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('{{.Permalink }}{{.Params.image }}');" >
    <div class="hero-text">
       <h2 class="hero1">{{ .Title }}</h2>
        {{ with .Params.subtitle }}<h3  class="hero1">{{ . }}</h3>{{ end }}
    </div>
  </div>
  <div class="container">
      <div class="row">
       <div class="mx-auto w-50 p-3">
        {{ .Content }}
     </div>
  <div class="mx-auto w-50">
    <div class="tariff">
        <ul class="nav nav-tabs bg">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#things-to-do"><i class="icon icon-camera"></i> Things to Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hotel-options"><i class="icon icon-bed"></i> Hotel Options</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#map">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#itineraries">Suggested Itineraries</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="things-to-do" class="tab-pane ">
              <div class="row">
              {{- range .Data.Pages }}
                {{- range .Data.Pages }}
                  {{- if in .CurrentSection.Permalink  "excursions" }}
                <h4>{{ .Title }}</h4>
                <p class="left">{{ .Content  }}</p>
                  {{- end }}
                {{- end }}
              {{- end }}
              </div>
            </div>
            <div id="hotel-options" class="tab-pane ">
              <div class="row">
              {{- range .Data.Pages }}
                {{- range .Data.Pages }}
                  {{- if in .CurrentSection.Permalink  "hotels" }}
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <p class="left">{{ .Content  }}</p>
{{"<!-- Images -->" | safeHTML}}
                {{- $scratch.Set "permalink" .Permalink }}
                <div class="image-box">
                    {{- range $index, $e := .Params.carousel }}
                    {{ if eq $index 0 }} 
                    <div class="main-image"> 
                        <img src="{{ $scratch.Get "permalink" }}
{{ $e.url }}">
                    </div>
                    {{ end }}
                    {{ end }}
                    <div class="image-box-red">
                    {{- range $index, $e := .Params.carousel }}
                    {{ if ne $index 0 }}     
                    <div>
                        <img src="{{ $scratch.Get "permalink"  }}
{{ $e.url }}">
                    </div>
                    {{- end }}
                    {{ end }}
                    </div>
                </div>
{{"<!-- end Images -->" | safeHTML}}
                 {{- end }}
                {{- end }}
              {{- end }}
              </div>
            </div>
            <div id="map" class="tab-pane ">
                    <div class="row">
                      
                    </div>
            </div>
            <div id="itineraries" class="tab-pane ">
                    <div class="row">        
                    </div>
            </div>
        </div> 

    </div>
  </div>
</section>
{{"<!-- end Content -->" | safeHTML}}
{{- end }}
