{{- define "main" }}

{{"<!-- Start CONTENT Section -->" | safeHTML}}
{{- $id := cond (isset .Params "id") .Params.id .CurrentSection.Params.translationKey }}

<section id="{{ $id | lower }}"> 
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      </div>
      {{"<!-- show the items -->" | safeHTML}}
      {{- $paginator := .Paginate .Data.Pages }}
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-3">
        {{- range $paginator.Pages }}
            {{- if eq $id "cities" }}
            {{- .Render "list-cities" }}
            {{- else if eq $id "hotels" }}
            {{- .Render "list-hotels" }}
            {{- else if eq $id "tours" }}
            {{- .Render "list-tours" }}
            {{- else }}
            {{- .Render "summary" }}
            {{- end }}        
        {{- end }}
        </div>
      </div>
      <div class="col-12">
        {{- partial "pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- end Content -->" | safeHTML}}
{{- end }}