{{- "<!-- list tours -->" | safeHTML }}
  <article itemscope itemtype="http://schema.org/NewsArticle">
     <div class="row">
      <div class="col-md-12"> 
        <div class="spacing">       
        {{- with .Params.image }}
        <img class="mr-3 publisher lazyload" itemprop="image" data-src="{{ $.Page.Permalink }}{{ . }}" alt="Tour">
        {{- end }}
        <h3 class="py-0 my-0" itemprop="headline">{{ .Title }}</h3>
        <h4>Euro {{ with .Params.price }} {{ . | lang.NumFmt 2 }} {{ end }}</h4> 
        <p><span itemprop="description">{{ .Summary }}</span></p>
        <a href="{{ .Permalink }}" aria-label="read more about {{ $.Params.Title}}"><small>Read more about this tour</small></a>
      </div>
    </div>
    </div>
  </article>
   


  