{{- define "main" }}

{{"<!-- Start CONTENT Section -->" | safeHTML}}
{{- $id      := cond (isset .Params "id") .Params.id .CurrentSection.Params.translationKey }}
{{- $scratch := newScratch }}

<section id="{{ $id | lower }}"> 
  <div class="container">
    <div class="row">
      <div class="col-8">
          pending: map of India 
          <div class="lg-map-wrapper" data-map="{{ $.Site.BaseURL }}/lg-map/india.js">
            <div id="lg-map"></div>
            <div class="lg-map-text"></div>
          </div>
      </div>
       <div class="col-4">
        <br>
        {{ .Content }}
      </div>
       <div class="col-12">
        <h2>{{ .Title }}</h2>
      </div>
      {{"<!-- show the items -->" | safeHTML}}
      {{- $paginator := .Paginate .Data.Pages }}
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-4">
        {{- range $paginator.Pages }}
            {{- "<!-- list states -->" | safeHTML }}

{{- $scratch.Set "permalink" .Permalink }}
{{- $scratch.Set "title" .Title }}

<div class="col mb-4">
  <div class="card h-100">
    {{- with .Params.image -}}
      <div class="card-header img-top">
        <img class="mr-4 publisher lazyload" itemprop="image" data-src="{{- $scratch.Get "permalink" }}{{ . }}" alt="the state of {{- $scratch.Get "title" }}">
      </div>
    {{- end -}}
      <div class="card-body">
        <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>     
         <!-- <h4>{{ .Params.subtitle }}</h4>  -->
        <p class="card-text"><span itemprop="description">{{ .Summary }}</span></p>
      </div>
      <div class="card-footer">
        <a href="{{ .Permalink }}" aria-label="See tours in {{- $scratch.Get "title" }}"><small>See tours</small></a>
      </div>
  </div>
</div>
{{- "<!-- end list states -->" | safeHTML }}   
        {{- end }}
        </div>
      </div>
      <div class="col-12">
        {{- partial "pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- end Content -->" | safeHTML}}
{{- end }}