// const city = urldata.split("/")[(urldata.split("/")).length-2];

{{ range $books.GroupByParam "genre" }}
{{ range .Site.Data.countries.continent.africa.country }}

{{ apply .Site.Data.books "index" "." "Year" | uniq | len }}

This is how you .GetPage:

{{ .Site.GetPage (print ( strings.TrimSuffix "/" $url )) }}

This is how you check if index.md exists:

{{- fileExists (print "/content/english" $url "index.md") }}

{{ if not (findRE "banner" .RelPermalink 1) }} 

{{- range ( where ( where .Site.RegularPages "Section" "experience") ".Params.id" "interest" ) }}

{{ range where (where .Site.RegularPages "Type" "blog") "File.Dir" "blog/tip" ))  }}


{{ range first 1 (after $after (where (where .Site.RegularPages "Section" "video") ".File.BaseFileName" "in" .Params.videos ))  }}


{{- range (readDir "content/english/experience/by-interest") }}
  {{.Name}}<br>
{{end}}

{{- with (.Site.GetPage "/experience/by-interest") }}
  {{.Name}}<br>
{{end}}

find the key 

{{ trim (index (findRE `([^//]+)//?$` (index (findRE `([^//]+)\/[^//]+\/?$` .RelPermalink ) 0)) 0 ) "/" }}

the section or base name
{{ (path.Base (path.Split .Path).Dir) }}

the last url part
{{ (path.Base .RelPermalink) }}

print tags
{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}

first in array
{{ feature := index (.Params.features ) 0 }}


<a href={{ .Destination | safeURL }}
    {{ if strings.HasPrefix .Destination "mailto" -}} target=_blank {{end}}
    {{ if strings.HasPrefix .Destination "http" -}} target=_blank rel="noopener noreferrer" {{- end }}
>{{ .PlainText | htmlEscape }}</a>


<!-- image(s) -->
{{ range first 1 ((.Resources.ByType "image").Match "banner*") }} 
<a href="/interests/{{ (path.Base .RelPermalink) }}">
<img class="lazyload" itemprop="image" data-src="{{ .RelPermalink }}" alt="{{ substr .Title  0 -4 | humanize }}">
</a> 
{{ end }}   

{{- with .Resources.ByType "image" }}
{{- range $index,$img := . }}
{{ path.Dir .RelPermalink }} {{ len .Permalink }} <br>
{{- if eq $index 0}}
 <a href="/interests/{{ (path.Base .RelPermalink) }}">
<img class="lazyload" itemprop="image" data-src="{{ .RelPermalink }}" alt="{{ substr .Title  0 -4 | humanize }}">
{{- end }}
{{- end }}  
{{- end }}

 {{ if not (findRE "banner" .RelPermalink 1) }} 
 {{ if eq (len (path.Dir .RelPermalink)) (len (path.Dir $.RelPermalink )) }}


parent:
{{ .CurrentSection.Parent.RelPermalink }}

to get a specific section you can do:
{{ $section := .Site.GetPage "section" "blog" }}



between second and third /
 /.*/(.*)/

http://(?:[^/]*/){5}([^/]*)

\/([a-zA-Z0-9]{0,})


 /(\/[\w+-]+)/g

    {{ range $key, $taxonomy := .Site.Taxonomies.regions }}
     <h2>{{ if eq $key "kerala" }}</h2>
      <ul>
           {{ range $taxonomy.Pages }}
               <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ end }}

          {{ range $taxonomy.WeightedPages}}
           <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}

for listing of taxonomy:
{{ $taxo := "regions" }}
<ul>
  {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
    {{ range .Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .Title  }}</a></li>
    {{ end }}
  {{ end }}
</ul>


{{ range .Site.RegularPages ".Params.regions" "intersect" (slice "kerala") }}

{{ end }}