{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/explore-by-region/list.html" }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" (dict "dot" . "title" .Title ) }}
  <div class="container">
    <div class="row">
      <div class="col-sms-6 col-sm-8 col-md-9">
        <div class="regions-map">
          <div id="map"></div>
        </div>
      </div>
      <div class="col-sms-6 col-sm-4 col-md-3">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
  <h2 class="where-to-go">Where would you like to go?</h2>
  
  {{"<!-- show the items -->" | safeHTML}}
  <div class="bg">
    <div class="card-deck">
        {{ range .Data.Pages }}
        <div class="card-holder"> 
          <div class="card">
            {{ partial "card-header.html" . }}
            <!-- body -->
            <div class="card-body">
              <h3 class="card-title">
                <a href="/regions/{{ path.Base .RelPermalink }}">{{ .Title }}</a>
              </h3>     
              <div class="center">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
              </div>
              <p class="card-text">
                  <span itemprop="description">{{ .Content }}</span>
                </p>
            </div>
          </div>
        </div>
        {{- end }} 
    </div>
  </div>

</div>
<div>&nbsp;<br>
</div>
  <div class="row bg2">
    <h3 class="footnote">All our trips can be tailored to your needs!</h3>
    <h4 class="footnote">Tell us your travel plans and a specialist will be in touch</h4>
    <div class="footnote">
        <div>
          <input name="region" placeholder="Region">
        </div>
        <div>
          <input name="interest" placeholder="Interest">
        </div>
        <div>
          <input name="month" placeholder="Month of travel">
        </div>
        <div>
          <input name="number" placeholder="Number of people">
        </div>
        <div>
          <input name="email" placeholder="Email id">
        </div> 
    </div>
    <div class="submit">
      <a class="button">Submit</a>
    </div>
  </div>
  <div>&nbsp;<br>
</section>

{{- end }}
{{- define "postscript"}}

{{"<!-- Google map -->" | safeHTML }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ1TWStdIWQYeNDBKpE6SgJSEd4EerEdg&amp;callback=initMap" async="" defer=""></script>
{{- $js := resources.Get "/js/region.js" -}}
<script src="{{ $js.RelPermalink }}" defer></script>

{{- end }}


