{{ define "main" }}
{{ .Scratch.Set "layout" "layouts/data/excursions/single.html" -}}

<!-- cities dropdown data: show only cities that has an excursion -->
{{- $range := slice}}
{{- range (where (where .Site.Pages "Section" "destinations") ".Params.type" "excursion") }}
    {{- $range = $range | append .Parent.Parent }}
{{- end }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
 <div id="message">&nbsp;</div>
  <div class="row">
    <div id="image"></div>
    <div class="data">
      
      <div class="table even">
        <div class="item-1">
        <div class="custom-select">
          <label for="cities" class="search-label">City</label>
        </div>
      </div>
      <div class="item-2">
          <select class="maxwidth" id="cities" name="cities">
            <option value="">Select a city</option>
            {{ range sort (uniq $range) ".Name" }}
            {{ $array := split .RelPermalink "/" }}
            {{ $path  := index $array (sub (len $array) 4) }}
            <option value="{{ .RelPermalink }}">{{ .Title }} {{ if ne $path "destinations" }}, {{ $path | humanize }}{{ end }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="table even">
        <div class="item-1">
          <div class="custom-select">
              <label for="excursions" class="search-label">Excursions</label>
            </div>
          </div>
          <div class="item-2">
              <select class="maxwidth" id="excursions" name="excursions">
                <option value="">Select an excursion</option>
              </select>
          </div>
      </div>

      <div class="table">
        <div class="item-1"><b>Field</b></div>
        <div class="item-2"><b>Data</b></div>
      </div>

      <div class="table even">
        <div class="item-1">URL </div>
        <div id="url" contenteditable="true" class="item-2"></div>
      </div>

     <div class="table even">
        <div class="item-1">Excursion Name </div>
        <div id="title" contenteditable="true" class="item-2"></div>
      </div>

      <div class="table odd">
        <div class="item-1">Start Time</div>
        <div id="startTime" contenteditable="true" class="item-2"></div>
      </div>

      <div class="table odd">
        <div class="item-1">Duration</div>
        <div id="duration" contenteditable="true" class="item-2"></div>
      </div>

      <div class="table even">
        <div class="item-1">Days of Operation </div>
        <div class="item-2">
          <div class="form-check">
            <input id="daysOfOperation" class="custom-control-input" required type="number" min=0 max=127 step=1 value="">
          </div>
        </div>
      </div>

      <div class="table odd">
        <div class="item-1">Own transport</div>
        <div class="item-2">
          <div class="form-check">
            <input id="vehicle" class="custom-control-input" type="checkbox">
          </div>
        </div>
      </div>

      <div class="table even">
        <div class="item-1">Guide</div>
        <div class="item-2">
          <div class="form-check">
            <input id="guide" class="custom-control-input" type="checkbox">
          </div>
        </div>
      </div>

       <div class="table even">
        <div class="item-1">Day at leisure</div>
        <div class="item-2">
          <div class="form-check">
            <input id="dayAtLeisure" class="custom-control-input" type="checkbox">
          </div>
        </div>
      </div>

      <div class="table odd">
        <div class="item-1">Content</div>
        <div id="content" contenteditable="true" class="item-2"></div>
      </div>

    </div>
  </div>

  <div class="mx-auto w-50">
    <div id="in-progress" class="spinner" role="status">
      <span class="sr-only">In progress...</span>
    </div>
    <div>
      <button class="save btn btn-success" id="save">
        <i class="icon-floppy"></i>
        Save
      </button>
    </div>
  </div>

</section>
{{- end }}
{{- define "postscript" }}
<script type="module" src="/js/app/dataExcursions.js"></script>
{{- end }}