{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/city/list.html" }}
{{- $scratch := newScratch }}

<section id="{{ .Scratch.Get "id" | lower }}">  
 
  <div class="container">
      <div class="md-6">
        {{ .Content }}
      </div>
      <!--
      <div class="md-6">
        <a href="{{ $.RelPermalink }}"  class="hover-effect">
          {{- range ( where ( where $.Site.Pages "Section" "destinations") ".RelPermalink" $.RelPermalink ) }} 
          {{ partial "image-single" . }}
          {{- end }} 
        </a>   
      </div>
    -->
    </div>
    <div class="container">
    <div class="tab-wrapper">
      <nav class="nav flex-column flex-sm-row" >
          <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#map">
            <i class="icon-globe"></i> Map
          </a>

          {{- range where .Data.Pages ".RelPermalink" (printf "%s%s" .RelPermalink "hotels/") }} 
          {{- if (len .Data.Pages) }}
          <a class="flex-sm-fill text-sm-center nav-link " data-toggle="tab" href="#things-to-do">
            <i class="icon-camera"></i> Things to Do
          </a>
          {{- end }}
          {{- end }}

          {{- range where .Data.Pages ".RelPermalink" (printf "%s%s" .RelPermalink "hotels/") }} 
          {{- if (len .Data.Pages) }}
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#hotels">
            <i class="icon-bed"></i> Hotel Options
          </a>
          {{- end }}
          {{- end }}

          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#itineraries">
            <i class="icon-emo-happy"></i> Suggested Itineraries
          </a>
      </nav>

      
      <div class="tab-content">

        <div id="map" class="tab-pane active">
          <div id="gmap"></div>
        </div>

        <div id="things-to-do" class="tab-pane">
          <div class="row">
            <div class="md-12">
            {{- range (where (where .Data.Pages "Params.id" "services") "Params.transfer" false) }}
            {{- partial "excursion-listing.html" . }}
            {{- end }}
            </div>
          </div>
        </div>

        <div id="hotels" class="tab-pane ">
          <div class="row">
            <div class="mx-auto w-50 p-3">
            {{- range where .Data.Pages ".RelPermalink" (printf "%s%s" .RelPermalink "hotels/") }}  
            {{- range .Data.Pages }}
            {{- partial "hotel-listing.html" . }}
            {{- end }}
            {{- end }}
            </div>
          </div>
        </div>

        <div id="itineraries" class="tab-pane ">
          <div class="row">   
           
            {{- range where $.Site.RegularPages "Section" "tour-ideas"}}
            {{- partial "tour-listing.html" . }}
            {{- end }}
           
          </div>
        </div>
      </div> 
    </div>
    </div>
  </div>
</section>
{{- end }}
{{- define "postscript"}}

{{"<!-- Google map -->" | safeHTML }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ1TWStdIWQYeNDBKpE6SgJSEd4EerEdg&amp;callback=initMap" async="" defer=""></script>

<script>
function initMap() {
  
  const target = { lat: {{ .Params.latitude }}, lng: {{ .Params.longitude }} };

  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 7,
    center: target,
  });

  const marker = new google.maps.Marker({
    position: target,
    map: map,
  });
}

</script>

<script>

$('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

{{- end }}

