{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/city/list.html" }}
{{- $scratch := newScratch }}

<section id="{{ .Scratch.Get "id" | lower }}">  
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="mx-auto w-50 p-3">
        {{ .Content }}
      </div>
    </div>
    <div class="tab-wrapper">
      <nav class="nav flex-column flex-sm-row" >
          {{- range .Data.Pages }}
          {{- range .Data.Pages }}
          {{- if in .CurrentSection.Permalink  "excursions" }}
          {{ $scratch.Set "excursions" 1 }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{ if eq ($scratch.Get "excursions") 1 }}
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#things-to-do">
            <i class="icon-camera"></i> Things to Do
          </a>
          {{- end }}

          {{- range .Data.Pages }}
          {{- range .Data.Pages }}
          {{- if in .CurrentSection.Permalink  "hotels" }}
          {{ $scratch.Set "hotels" 1 }}
            {{- end }}
          {{- end }}
          {{- end }}
          {{ if eq ($scratch.Get "hotels") 1 }}
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#hotel-options">
            <i class="icon-bed"></i> Hotel Options
          </a>
          {{- end }}
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#map">
            <i class="icon-globe"></i> Map
          </a>
        
          <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#itineraries">
            <i class="icon-emo-happy"></i> Suggested Itineraries
          </a>
      </nav>
      <div class="tab-content">
        <div id="things-to-do" class="tab-pane active">
          <div class="row">
            {{- range .Data.Pages }}
            {{- range .Data.Pages }}
            {{- if in .CurrentSection.Permalink  "excursions" }}
            <h4>{{ .Title }}</h4>
            <div class="w-50">
              <p class="left">{{ .Content  }}</p>
            </div>
            <div class="w-50">
              {{"<!-- Images -->" | safeHTML}}
              {{- $scratch.Set "permalink" .Permalink }}
              <div class="image-box">
                {{- range $index, $e := .Params.carousel }}
                {{- if eq $index 0 }} 
                <div class="main-image"> 
                  <img src="{{ $scratch.Get "permalink" }}{{ $e.url }}">
                </div>
                {{- end }}
                {{- end }}
                <div class="image-box-red">
                  {{- range $index, $e := .Params.carousel }}
                  {{- if ne $index 0 }}     
                  <div>
                    <img src="{{ $scratch.Get "permalink" }}{{ $e.url }}">
                  </div>
                  {{- end }}
                  {{- end }}
                </div>
              </div>
              {{"<!-- end Images -->" | safeHTML}}
            </div>
            <hr>
            {{- end }}
            {{- end }}
            {{- end }}
          </div>
        </div>

        <div id="hotel-options" class="tab-pane ">
          <div class="row">

            {{- range .Data.Pages }}
            {{- range .Data.Pages }}
            {{- if in .CurrentSection.Permalink  "hotels" }}
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <div class="w-50">
              <p class="left">{{ .Content  }}</p>
            </div>
            <div class="w-50">
              {{"<!-- Images -->" | safeHTML}}
              {{- $scratch.Set "permalink" .Permalink }}
              <div class="image-box">
                {{- range $index, $e := .Params.carousel }}
                {{- if eq $index 0 }} 
                <div class="main-image"> 
                  <img src="{{ $scratch.Get "permalink"}}{{ $e.url }}">
                </div>
                {{- end }}
                {{- end }}
                <div class="image-box-red">
                  {{- range $index, $e := .Params.carousel }}
                  {{- if ne $index 0 }}     
                  <div>
                    <img src="{{ $scratch.Get "permalink"}}{{ $e.url }}">
                  </div>
                  {{- end }}
                  {{- end }}
                </div>
              </div>
              {{"<!-- end Images -->" | safeHTML}}
            </div>
            <hr>
            {{- end }}
            {{- end }}
            {{- end }}
          </div>
        </div>

        <div id="map" class="tab-pane ">
          <div id="gmap"></div>
        
        </div>

        <div id="itineraries" class="tab-pane ">
          <div class="row">   
            {{ $pages := where $.Site.RegularPages "Section" "tour-ideas"}}
            {{- partial "tour-listing.html" (dict "pages" $pages ) }}
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
{{- end }}
{{- define "postscript"}}

{{"<!-- Google map -->" | safeHTML }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ1TWStdIWQYeNDBKpE6SgJSEd4EerEdg&amp;callback=initMap" async="" defer=""></script>

<script>
function initMap() {
  
  const target = { lat: {{ .Params.latitude }}, lng: {{ .Params.longitude }} };

  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 7,
    center: target,
  });

  const marker = new google.maps.Marker({
    position: target,
    map: map,
  });
}

</script>

<script>
$('#myTab a[href="#things-to-do"]').tab('show') 

$('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

{{- end }}

