<style>
.jarallax {
    background: url("parallax2.jpg") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: cover;
    max-width: 100%;
    margin: 30px 0 30px 0;
    height: 250px;
  }
</style>

<div class="jarallax">
   <img class="jarallax-img" src="parallax2">
    <div class="container flex-center text-center">
      <div class="content-section col-xs-12 col-sm-6 col-md-4">
        <div class="image-container col-sm-4">
          <img src="sucheta.jpg" alt="Sucheta" class="parallax-img"/>
        </div>
      </div>
      <div class="mx-auto wow fadeIn col-xs-12 col-sm-6 col-md-4">
         <h3 class="display-3 font-weight-bold mb-2 wow fadeInDown" data-wow-delay="0.3s">
          Tell us where you would like to go.<br /><em>We Provide You An Ultimate Travel Experience</em>
        </h2>
      </div>   
      <div class="action-section col-xs-12 col-md-4">
        <form method="get" action="/search/search-results?"> 
            <div>
             <input name="q" size="40" type="search" class="input-text full-width" value="" placeholder="Enter destination or tour name">
            </div>
            <div >
              <button name="sa" class="full-width btn-large">Search</button>
            </div>
        </form>
      </div>
    </div>
</div>
