<div id="we-are-odyssey">
  <div class="container border">
    <div class="row">

      <div class="col-sms-0 col-sm-4 col-md-4">
        <h3>We are Odyssey Tours</h3>
        <p>
          A company that designs tailor-made holidays and private tours in India for the independent discerning traveler.
        </p>
        <p>
          For this we use a hand-picked portfolio of exciting and unusual places to stay.
        </p>
        <p>
          We try to ensure that our trips are sustainable as well as authentic - and, of course, fun!  So explore India your own way with Odyssey Tours.
        </p>
      </div>

      <div class="col-sms-0 col-sm-4 col-md-4">
        <div class="image-style">
          <ul style="" class="image-block clearfix">
            <li class="z-index-4">
              <a style="width: 100px; height: 100px;" class="middle-block" href="#">
                <img  alt="" src="/about-us/our-team/hans/0-hans-tuinman.jpg" class="middle-item" >
              </a>
            </li>
            <li class="z-index-2">
              <a style="width: 160px; height: 160px;" class="middle-block" href="#">
                <img  alt="" src="/about-us/our-team/vardhan/0-vardhan.jpg" class="middle-item">
              </a>
            </li>
            <li class="z-index-1">
              <a style="width: 156px; height: 156px;" class="middle-block" href="#">
                <img  alt="" src="/about-us/our-team/sucheta/0-sucheta-potnis.jpg" class="middle-item" >
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sms-6 col-sm-6 col-md-4">
        <h3>Start Planning Your Trip</h3>
        <p>
          Half the fun of travel is planning and all you need is an idea.
        </p>
        <p>
        Have you dreamed about staying in a Maharaja's palace, cruising along Kerala's backwaters on a converted rice barge or doing a yoga course in Rishikesh?</p>
        <p>
          Start converting your dreams into reality by sending us an enquiry. It is absolutely free and without any obligation to make a booking.
        </p>
      </div>
    </div>
  </div>
</div>