@mixin resize($size) {
  $result: $size;
  @media only screen and (max-width: $large-display){
    $result: $size * 2;
    font-size: $result;
  }
  @media only screen and (max-width: $desktop){
    $result: $size * 1.5;
    font-size: $result;
  }
  @media only screen and (max-width: $laptop){
    $result: $size * 1;
    font-size: $result;
  }
  @media only screen and (max-width: $tablet){
    $result: $size * .75;
    font-size: $result;
  }
  @media only screen and (max-width: $phone) {
    $result: $size * .5;
    font-size: $result;
  }
}
