#reports-excursions {
	
	.row {
		justify-content: space-between;   
  		align-items: stretch;  
	}

.flex-item {
  flex-basis: 23%;    
  background-color: #ccc;
  padding: 10px;
  box-sizing: border-box;
}

h3 {
	color: darkblue;
}

}