@charset "UTF-8";
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-right-hand:before {
  content: "";
}

/* '' */
.icon-star:before {
  content: "";
}

/* '' */
.icon-mail:before {
  content: "";
}

/* '' */
.icon-up-circled:before {
  content: "";
}

/* '' */
.icon-leaf:before {
  content: "";
}

/* '' */
.icon-pencil:before {
  content: "";
}

/* '' */
.icon-emo-happy:before {
  content: "";
}

/* '' */
.icon-globe:before {
  content: "";
}

/* '' */
.icon-check:before {
  content: "";
}

/* '' */
.icon-fast-forward:before {
  content: "";
}

/* '' */
.icon-fast-backward:before {
  content: "";
}

/* '' */
.icon-to-end:before {
  content: "";
}

/* '' */
.icon-to-start:before {
  content: "";
}

/* '' */
.icon-forward:before {
  content: "";
}

/* '' */
.icon-right-small:before {
  content: "";
}

/* '' */
.icon-camera:before {
  content: "";
}

/* '' */
.icon-phone:before {
  content: "";
}

/* '' */
.icon-download:before {
  content: "";
}

/* '' */
.icon-help:before {
  content: "";
}

/* '' */
.icon-info-circled:before {
  content: "";
}

/* '' */
.icon-flight:before {
  content: "";
}

/* '' */
.icon-ferry:before {
  content: "";
}

/* '' */
.icon-home:before {
  content: "";
}

/* '' */
.icon-instagram-circled:before {
  content: "";
}

/* '' */
.icon-circle-empty:before {
  content: "";
}

/* '' */
.icon-circle:before {
  content: "";
}

/* '' */
.icon-euro:before {
  content: "";
}

/* '' */
.icon-rupee:before {
  content: "";
}

/* '' */
.icon-youtube-squared:before {
  content: "";
}

/* '' */
.icon-cab:before {
  content: "";
}

/* '' */
.icon-copyright:before {
  content: "";
}

/* '' */
.icon-street-view:before {
  content: "";
}

/* '' */
.icon-bed:before {
  content: "";
}

/* '' */
.icon-train:before {
  content: "";
}

/* '' */
.icon-registered:before {
  content: "";
}

/* '' */
.icon-flickr-circled:before {
  content: "";
}

/* '' */
.icon-twitter-circled:before {
  content: "";
}

/* '' */
.icon-facebook-circled:before {
  content: "";
}

/* '' */
.icon-gplus-circled:before {
  content: "";
}

/* '' */
.icon-pinterest-circled:before {
  content: "";
}

/* '' */
.icon-linkedin-circled:before {
  content: "";
}

/* '' */
footer {
  background-color: #fff;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2rem;
  color: #7d97a4;
}

.cc-window {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.cc-window.cc-invisible {
  opacity: 0;
}

.cc-animate.cc-revoke {
  -webkit-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.cc-animate.cc-revoke.cc-bottom {
  -webkit-transform: translateY(2em);
  transform: translateY(2em);
}

.cc-animate.cc-revoke.cc-active.cc-bottom {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-revoke:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-grower {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.cc-revoke,
.cc-window {
  position: fixed;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999;
}

.cc-window.cc-static {
  position: static;
}

.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.cc-revoke {
  padding: 0.5em;
}

.cc-revoke:hover {
  text-decoration: underline;
}

.cc-header {
  font-size: 18px;
  font-weight: 700;
}

.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
  cursor: pointer;
}

.cc-link {
  opacity: 0.8;
  display: inline-block;
  padding: 0.2em;
  text-decoration: underline;
}

.cc-link:hover {
  opacity: 1;
}

.cc-link:active,
.cc-link:visited {
  color: initial;
}

.cc-btn {
  display: block;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}

.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent;
}

.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
  background-color: transparent;
  text-decoration: underline;
}

.cc-close {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.6em;
  opacity: 0.9;
  line-height: 0.75;
}

.cc-close:focus,
.cc-close:hover {
  opacity: 1;
}

.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.cc-revoke.cc-right {
  right: 3em;
  left: unset;
}

.cc-right {
  right: 1em;
}

.cc-bottom {
  bottom: 1em;
}

.cc-floating > .cc-link {
  margin-bottom: 1em;
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}

.cc-window.cc-floating .cc-compliance {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.cc-window.cc-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

.cc-banner .cc-message {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}

.cc-compliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.cc-floating .cc-compliance > .cc-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cc-btn + .cc-btn {
  margin-left: 0.5em;
}

@media print {
  .cc-revoke,
.cc-window {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .cc-btn {
    white-space: normal;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
  .cc-window.cc-bottom {
    bottom: 0;
  }

  .cc-window.cc-banner,
.cc-window.cc-floating,
.cc-window.cc-right {
    left: 0;
    right: 0;
  }

  .cc-window.cc-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cc-window.cc-banner .cc-compliance {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .cc-window.cc-floating {
    max-width: none;
  }

  .cc-window .cc-message {
    margin-bottom: 1em;
  }

  .cc-window.cc-banner {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }

  .cc-window.cc-banner .cc-message {
    margin-right: 0;
  }
}
.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.cc-theme-classic .cc-btn {
  border-radius: 5px;
}

.cc-theme-classic .cc-btn:last-child {
  min-width: 140px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block;
}

.cc-theme-edgeless.cc-window {
  padding: 0;
}

.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em;
  margin-bottom: 1.5em;
}

.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: 0.8em 1.8em;
  height: 100%;
}

.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em;
}

.cc-floating.cc-theme-edgeless .cc-btn + .cc-btn {
  margin-left: 0;
}

/* own stuff */
a.cc-allow:hover {
  color: initial !important;
  text-decoration: underline !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.h-100 {
  height: 100% !important;
}

@media screen and (max-width: 991px) {
  .w-50, .w-25, .w-75 {
    width: 100% !important;
  }
}
.center {
  text-align: center;
}

/* --- WIA ARIA --- */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

/* --- date picker --- */
.datepicker.datepicker-dropdown {
  list-style: none;
  background-color: white;
}

.gj-icon {
  visibility: hidden;
}

/* --- print --- */
@media print {
  #menu, footer {
    display: none;
  }
}
.tour {
  font-weight: 600;
  border: 2px solid #303030;
  border-radius: 50%;
  padding: 0.3em;
  text-align: center;
  position: relative;
  width: 2.25rem;
  left: -50px;
  top: 25px;
}

.icon-camera {
  content: "";
}

.icon-flight {
  border-color: #ca5;
  color: #ca5;
}

.icon-cab {
  border-color: #c09eda;
  color: #c09eda;
}

.icon-bed {
  border-color: #fea700;
  color: #fea700;
}

.icon-train {
  border-color: #f49ac1;
  color: #f49ac1;
}

.icon-home {
  color: #63582C;
}

.spacing {
  margin: 10px;
  padding: 10px;
  border: solid 1px;
  border-color: gold;
}

.image-box {
  display: flex;
  margin-bottom: 20px;
}

.main-image {
  flex: 1 0;
  flex-basis: 80%;
}

.image-box-red {
  display: flex;
  flex-direction: column;
}

.image-box div {
  padding: 3px;
  margin: 0;
}

/*# sourceMappingURL=odyssey.css.map */
