{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/state/list.html" }}

{{- $scratch := newScratch }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="col-8">
        pending: map of India 
        <div class="lg-map-wrapper" data-map="{{ $.Site.BaseURL }}/lg-map/india.js">
          <div id="lg-map"></div>
          <div class="lg-map-text"></div>
        </div>
      </div>
      <div class="col-4">
        <br>
        {{ .Content }}
      </div>
    </div>
  </div>

  <div class="bg">
    <div class="card-deck">
      {{- range .Data.Pages -}}
      {{- range .Data.Pages -}}
      <div class="card-holder">
        <div class="card">
          {{- partial "card-header" . }}
          <div class="card-body">
            <h3 class="card-title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
            <h4>{{ .Params.subtitle }}</h4> 
          </div>
        </div>
      </div>   
      {{- end }}
      {{- end }}
    </div>
  </div>
 
</section>
{{- end }}