{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/state/list.html" }}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="w-50">
        <div class="mapcontainer">
            <div class="map">
                <span> </span>
            </div>
            <div class="areaLegend"></div>
            <div class="plotLegend"></div>
        </div>
      </div>
      <div class="w-50">
        <br>
        {{ .Content }}
      </div>
    </div>
  </div>

  <div class="bg">
    <div class="card-deck">
      {{- range .Data.Pages -}}
      {{- range .Data.Pages -}}
      <div class="card-holder">
        <div class="card">
          {{- partial "card-header" . }}
          <div class="card-body">
            <h3 class="card-title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
            <h4>{{ .Params.subtitle }}</h4> 
          </div>
        </div>
      </div>   
      {{- end }}
      {{- end }}
    </div>
  </div>
 
</section>
{{- end }}
{{- define "postscript" }}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.1.0/js/jquery.mapael.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/mapael/india_states.js" charset="utf-8"></script>

<script>
$(".mapcontainer").mapael(
{
    "map": {
        "name" : "india_states",
          defaultPlot: {
              attrs: {
                  fill: "#004a9b"
                  , opacity: 0.6
              }
              , attrsHover: {
                  opacity: 1
              }
              , text: {
                  attrs: {
                      fill: "#505444"
                  }
                  , attrsHover: {
                      fill: "#000"
                  }
              }
          },
          defaultArea: {
              attrs: {
                  fill: "#f4f4e8"
                  , stroke: "black"
              }
              , attrsHover: {
                  fill: "#a4e100"
              }
              , text: {
                  attrs: {
                      fill: "#505444"
                  }
                  , attrsHover: {
                      fill: "#000"
                  }
              }
          }
    },
    areas: {

{{- range where (where .Site.Pages "Section" "destinations") ".RelPermalink" .RelPermalink -}}

  "{{ .Title }}": {
    text: {content: "{{ .Title }}", attrs: {"font-size": 24}},
{{- if eq .Title $.Title }}
attrs: {
      fill: "red"
    },
{{- end }}
    tooltip: {
      content: "{{ .Title }}"
    },
    href: {{ .Permalink }},
  },

{{- end }}

}
});

</script>
{{ end }}