{{- $id := cond (isset .Params "id") .Params.id .CurrentSection.Params.translationKey }}
{{- $scratch := newScratch }}

<section id="{{ $id | lower }}"> 
  {{ partial "heading.html" (dict "dot" . "title" .Title ) }}
  {{"<!-- show the items -->" | safeHTML}}
  <div class="bg">
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-4">
          {{- range .Data.Pages }}
          {{- $scratch.Set "permalink" .Permalink }}
          {{- $scratch.Set "title" .Title }}
          <div class="card-spacing">
            <div class="card h-100">
              <!-- header -->
              <div class="card-header img-top">
              {{- with .Params.image -}}
                  <img class="mr-4 publisher lazyload" itemprop="image" data-src="{{- $scratch.Get "permalink" }}{{ . }}" alt="the state of {{- $scratch.Get "title" }}">
              {{- else }}
                  <img class="mr-4 publisher lazyload" itemprop="image" data-src="/img/dummy-city.jpg" alt="the state of {{- $scratch.Get "title" }}">
              {{- end -}}
              </div>
              <!-- body -->
              <div class="card-body">
                <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>     
                <p class="card-text"><span itemprop="description">{{ .Summary }}</span></p>
              </div>
              <!-- footer -->
              <div class="card-footer">
                <a href="{{ .Permalink }}" aria-label="See tours in {{- $scratch.Get "title" }}"><small>Read more about {{ .Title }}</small></a>
              </div>
            </div>
          </div>
          {{- end }}
        </div>
      </div>
    </div>
    {{"<!-- end list cities -->" | safeHTML }}   
  </div>
</section>