{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/itinerary/list.html" -}}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="mx-auto w-50 p-3">
        {{ .Content }}
        <div id="message" class="alert " role="alert"></div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row dossier">
      <div>Dossier: {{ .RelPermalink }}</div>
      <div>
        <button class="save" onclick="saveItinerary()">
          <i class="icon-floppy"></i>Save
        </button>
      </div>
    </div>

    <div class="columns">

      <div id="myItinerary">
         <div class="column-header">
            <h4><i class="icon-search"></i>Itinerary</h4>
        </div>
        {{- if .Params.itinerary }}{{else}}   
        <hr class="hr-text" data-content="Day 1">
        <div class="containers"> </div>
        {{- end }}


      {{- range $index,$e := .Params.itinerary }}
        <hr class="hr-text" data-content="Day {{add $index 1 }}">
        <div class="containers">
      {{- range $i,$v := .item }}
          <div class="draggable" draggable="true" type="{{- if (eq $v.type "city") }}city{{- else if (eq $v.type "excursion") }}excursion{{- else if (eq $v.type "hotel") }}hotel{{- else if (eq $v.type "flight") }}flight{{- else if (eq $v.type "ferry") }}ferry{{- else if (eq $v.type "train") }}train{{- else if (eq $v.type "car-hire") }}car-hire{{- end }}" day={{ $index }} index={{ $i }} url="{{ .url }}">

            <div>
              {{- $url :=  printf "%s%s" $v.url "index.md" }}
              {{- if (eq $v.type "city") }}
              <i class="icon-monument"></i>
              {{- $url =  printf "%s%s" $v.url "_index.md" }}
              {{- else if (eq $v.type "excursion") }}
              <i class="icon-camera"></i>
              {{- else if (eq $v.type "hotel") }}
              <i class="icon-bed"></i>
              {{- else if (eq $v.type "flight") }}
              <i class="icon-flight"></i>
              {{- else if (eq $v.type "ferry") }}
              <i class="icon-ferry"></i>
              {{- else if (eq $v.type "train") }}
              <i class="icon-train"></i>
              {{- else if (eq $v.type "car-hire") }}
              <i class="icon-cab"></i>
              {{- end }}
            </div>
            <div class="program">
               {{- $content := $v.content | default " " }}

        {{- with $.Site.GetPage (string $url) }}
              <div>
                <h4>{{ .Title }}</h4>
              </div>
              <div class="content">
                <div class="image">
           {{ range first 1 (.Resources.ByType "image") }} 
                  <img class="lazyload" 
                  sizes="(min-width: 35em) 150px, 10vw"
                  data-srcset="{{ .RelPermalink }} 150w"
                  data-src="{{ .RelPermalink }}" alt="{{ substr .  0 -4 | replaceRE "[^a-z]" "-" | humanize }}">
{{ end }}           
                </div>
                <div class="mr-10 content-text details1"> 
                  {{ cond (gt (len $content) 0) $content .Content }}&nbsp;
       
                  {{- if (eq $v.type "city") }}
                  <div class="rowdetails">
                   
                  </div>
                  {{- else if (eq $v.type "excursion") }}
                  <div class="rowdetails">
                    <div>Date:  </div> 
                    <div class="details" attr="date" value="{{ $v.date }}">{{ with $v.date }} {{ dateFormat  "02-01-2006" . }} {{ end }}</div>
                    <div>ETD:  </div> 
                    <div class="details" attr="etd" value="{{ $v.etd }}">{{ with $v.etd }} {{ dateFormat  "15:04" . }} {{ end }}</div>
                    <div>Duration:  </div> 
                    <div class="details" attr="duration">{{ $v.duration }}</div>
                  </div>
                  {{- else if (eq $v.type "hotel") }}
                  <div class="rowdetails">
                    <div>Check-in:  </div> 
                    <div class="details" attr="checkInDate" value="{{ $v.checkInDate }}">{{ with $v.checkInDate }} {{ dateFormat  "02-01-2006" . }} {{ end }}</div>
                    <div>ETA: </div> 
                    <div class="details" attr="checkInTime" value="{{ $v.checkInTime }}">{{ with $v.checkInTime }} {{ dateFormat  "15:04" . }} {{ end }}</div>
                    <div>Check-out: </div> 
                    <div class="details" attr="checkOutDate" value="{{ $v.checkOutDate }}">{{ with $v.checkOutDate }} {{ dateFormat  "02-01-2006" . }}{{ end }}</div>
                    <div>ETD: </div> 
                    <div class="details" attr="checkOutTime" value="{{ $v.checkOutTime }}">{{ with $v.checkOutTime }} {{ dateFormat  "15:04" . }} {{ end }}</div>
                  </div>
                  {{- else if (eq $v.type "flight") }}
                  <div class="rowdetails">
                    <div>Date:  </div> 
                    <div class="details" attr="date" value="{{ $v.date }}">{{ with $v.date }} {{ dateFormat  "02-01-2006" . }} {{ end }}</div>
                    <div>Flight No:  </div> 
                    <div class="details" attr="flightNo">{{ $v.flightNo }}</div>
                    <div>From: </div> 
                    <div class="details" attr="from"> {{ $v.from }}</div>
                    <div>To:  </div> 
                    <div class="details" attr="to">{{ $v.to }}</div>
                    <div>ETD: </div> 
                    <div class="details" attr="etd" value="{{ $v.etd }}">{{ with $v.etd }} {{ dateFormat  "15:04" . }} {{ end }}</div>
                    <div>ETA:  </div> 
                    <div class="details" attr="eta" value="{{ $v.eta }}">{{ with $v.eta }} {{ dateFormat  "15:04" . }} {{ end }}</div>
                  </div>
                  {{- else if (eq $v.type "train") }}
                  <div class="rowdetails">
                    <div>Date:  </div> 
                    <div class="details" attr="date" value="{{ $v.date }}">{{ dateFormat  "02-01-2006" $v.date }}</div>
                    <div>Train No: </div> 
                    <div class="details" attr="trainNo">{{ $v.trainNo }}</div>
                    <div>Train Name:  </div> 
                    <div class="details" attr="train">{{ $v.train }}</div>
                    <div>From:  </div> 
                    <div class="details" attr="from">{{ $v.from }}</div>
                    <div>To:  </div> 
                    <div class="details" attr="to">{{ $v.to }}</div>
                    <div>ETD:  </div> 
                    <div class="details" attr="etd" value="{{ $v.etd }}">{{ with $v.etd }} {{ dateFormat  "15:04" . }} {{ end }}</div>
                    <div>ETA:  </div> 
                    <div class="details" attr="eta" value="{{ $v.eta }}">{{ with $v.eta }} {{ dateFormat  "15:04" . }} {{ end }}</div>
                  </div>
                  {{- else if (eq $v.type "car-hire") }}
                  <div class="rowdetails">
                    <div>Date: </div> 
                    <div class="details" attr="date" value="{{ $v.date }}">{{ with $.date }} {{ dateFormat  "02-01-2006" . }} {{ end }}</div>
                    <div>From:  </div> 
                    <div class="details" attr="city">{{ $v.city }}</div>
                    <div>Days: </div> 
                    <div class="details" attr="duration"> {{ $v.duration }}</div>
                  </div>
                  {{- end }}  
                </div>            
              </div>
               {{ end }}
            </div>
            <div class="editButton">
              <i class="icon-edit-alt"></i>
            </div>
          </div>
  {{- end }}
        </div>
{{- end }}
           
        <hr class="hr-text" data-content="Day {{- add (len .Params.itinerary) 1 }}">
        <div class="containers"> </div>

      </div>

      <div class="to-do-column">
        <div class="column-header">
          <h4><i class="icon-search"></i>Search</h4>
        </div>

        <div  class="select-flex">
          <div class="custom-select">
            <label for="cities">City</label>
            <select class="maxwidth" id="cities" name="cities">
              <option value="">Select a city</option>
              {{ range ( sort (where (where .Site.Pages "Section" "destinations") ".Params.id" "city") ".Title" "asc" ) }}
              <option value="{{ .RelPermalink }}">{{ .Title }} </option>
              {{ end }}
            </select>
            <i class="select icon icon-monument" onclick="addCity()"></i>
          </div>
        </div>

        <div class="select-flex">
          <div class="custom-select" id="selectHotels">
            <label for="hotels">Hotels</label>
            <select class="maxwidth" id="hotels" name="hotels">
            </select>
            <i class="select icon icon-bed" onclick="addHotel()"></i>
          </div>
        </div>

        <div class="select-flex">
          <div class="custom-select" id="selectExcursions">
            <label for="excursions">Excursions</label>
            <select class="maxwidth" id="excursions" name="excursions">
            </select>
            <i class="select icon icon-camera" onclick="addExcursion()"></i>
          </div>
        </div>

        <div class="select-flex">
          <div class="custom-select" id="selectCarHire">
            <label for="carhire">Car hire</label>
            <select class="maxwidth" id="carhire" name="carhire">
            </select>
          </div>
        </div>

        <div class="select-flex">
          <div class="custom-select" id="selectCars">
            <label for="cars">Cars</label>
            <select class="maxwidth" id="cars" name="cars">
            </select>
            <i class="select icon icon-cab"  onclick="addCar()"></i>
          </div>
        </div>

        <div class="select-flex">
          <div class="custom-select" id="selectFlights">
            <label for="flights">Flights</label>
            <select class="maxwidth" id="flights" name="flights">
            </select>
            <i class="select icon icon-flight"  onclick="addFlight()"></i>
          </div>
        </div>

        <div class="select-flex">
          <div class="custom-select" id="selectTrains">
            <label for="trains">Trains</label>
            <select class="maxwidth" id="trains" name="trains">
            </select>
            <i class="select icon icon-train"  onclick="addTrain()"></i>
          </div>
        </div>

        <div id="image"></div>
        <div id="info"></div>

        <div class="column-header">
          <h4><i class="icon-spin3"></i>Workspace</h4>
        </div>
        <div class="containers" id="workspace">
        </div>

        <div class="trash-column">
          <div class="column-header">
            <h4><i class="icon-trash"  onclick="emptyTrash()"></i> Trash</h4>
          </div>
          <div class="containers" id="trash">
          </div>
        </div>
      </div> 
    </div>
  </div>

  <div id="modal-accommodation" class="modal">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div id="modal-category-accommodation"></div>
          <div class="cancel close-modal-btn">
            <i class="icon-cancel"></i>
          </div>
        </div>
        <div class="row">
          <div class="input content" contenteditable="true">
          </div>
        </div>
        {{ partial "modal-accommodation.html" . }}
        <div class="row buttons">
          <div>
            <button class="default default-modal-btn">
              <i class="icon-trash"></i>
              Default
            </button>
          </div>
          <div>
            <button class="save" id="save-modal-accommodation">
              <i class="icon-floppy"></i>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> 

 <div id="modal-city" class="modal">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div id="modal-category-city"></div>
          <div class="cancel close-modal-btn">
            <i class="icon-cancel"></i>
          </div>
        </div>
        <div class="row">
          <div class="input content" contenteditable="true">
          </div>
        </div>
        <div class="row buttons">
          <div>
            <button class="default default-modal-btn">
              <i class="icon-trash"></i>
              Default
            </button>
          </div>
          <div>
            <button class="save" id="save-modal-city">
              <i class="icon-floppy"></i>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div id="modal-excursions" class="modal">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div id="modal-category-excursions"></div>
          <div class="cancel close-modal-btn">
            <i class="icon-cancel"></i>
          </div>
        </div>
        <div class="row">
          <div class="input content" contenteditable="true">
          </div>
        </div>
        {{ partial "modal-excursions.html" . }}
        <div class="row buttons">
          <div>
            <button class="default default-modal-btn">
              <i class="icon-trash"></i>
              Default
            </button>
          </div>
          <div>
            <button class="save" id="save-modal-excursions">
              <i class="icon-floppy"></i>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div id="modal-car-hire" class="modal">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div id="modal-category-car-hire"></div>
          <div class="cancel close-modal-btn">
            <i class="icon-cancel"></i>
          </div>
        </div>
        <div class="row">
          <div class="input content" contenteditable="true">
          </div>
        </div>
        {{ partial "modal-car-hire.html" . }}
        <div class="row buttons">
          <div>
            <button class="default default-modal-btn">
              <i class="icon-trash"></i>
              Default
            </button>
          </div>
          <div>
            <button class="save" id="save-modal-car-hire">
              <i class="icon-floppy"></i>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div id="modal-flights" class="modal">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div id="modal-category-flights"></div>
          <div class="cancel close-modal-btn">
            <i class="icon-cancel"></i>
          </div>
        </div>
        <div class="row">
          <div class="input content" contenteditable="true">
          </div>
        </div>
        {{ partial "modal-flights.html" . }}
        <div class="row buttons">
          <div>
            <button class="default default-modal-btn">
              <i class="icon-trash"></i>
              Default
            </button>
          </div>
          <div>
            <button class="save" id="save-modal-flights">
              <i class="icon-floppy"></i>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> 

</section>

{{- end }}
{{- define "postscript" }}

<script>

  const source = document.querySelector("#cities");
  const city   = source[source.selectedIndex].value ;
  var   host   = window.location.href.split("/");
  var   host   = host[0] + "//" + host[2];

  var renewables = document.querySelectorAll(".draggable");

  renewables.forEach(renewable => {
    let url = renewable.getAttribute("url");
    let myClass = renewable.getElementsByClassName("content-text");

    if (url.includes("{{ htmlUnescape .RelPermalink }}")){
      let xhr = new XMLHttpRequest();
      xhr.open('get',url+"/index.json" );
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) { 
          let data = JSON.parse(xhr.responseText);
          myClass[0].innerText = data.content;
        };
      };
      xhr.send();
    }
  });

  changeCity(city);

// add EventListeners
document.getElementById("cities").addEventListener("change", (event) => {
  changeCity();
});
document.getElementById("hotels").addEventListener("change", changeHotel() );
document.getElementById("excursions").addEventListener("change", changeExcursion() );
document.getElementById("carhire").addEventListener("change", changeCarHire() );
document.getElementById("cars").addEventListener("change", changeCar() );
document.getElementById("flights").addEventListener("change", changeFlight() );
document.getElementById("trains").addEventListener("change", changeTrain() );
document.addEventListener('DOMContentLoaded', (event) => { draggable(); });

var clickClose = document.getElementsByClassName("close-modal-btn");
var clickEdit  = document.getElementsByClassName("editButton");

for(var i = 0; i < clickClose.length; i++) {
  (function(index) {
    clickClose[index].addEventListener("click", function() {
      var close = document.getElementsByClassName("modal");
      for(var i = 0; i < close.length; i++) {
        close[index].style.display = "none";
      };
    })
  })(i);
}

for(var i = 0; i < clickEdit.length; i++) {
  (function(index) {
    clickEdit[index].addEventListener("click", function() {
      editItem(
        clickEdit[index].parentElement.getAttribute("day"),
        clickEdit[index].parentElement.getAttribute("index"),
        clickEdit[index].parentElement.getAttribute("url"),
        clickEdit[index].parentElement);
    })
  })(i);
}

document.getElementById("save-modal-accommodation").addEventListener("click", function(){

  var elements = document.getElementById("modal-accommodation");
  var inputs   = elements.getElementsByClassName('input');
  var url      = inputs[0].url;
  var day      = inputs[0].day;
  var index    = inputs[0].index;

  let days = document.getElementById('myItinerary').getElementsByClassName('containers');
  
  var items = days[day].getElementsByClassName('draggable');
  var data  = items[index].getElementsByClassName('details');
  
  data[0].setAttribute("value", inputs.checkInDate.value ) ; 
  data[1].setAttribute("value", inputs.checkInTime.value ) ;
  data[2].setAttribute("value", inputs.checkOutDate.value) ;
  data[3].setAttribute("value", inputs.checkOutTime.value) ;
  data[0].innerHTML  = inputs.checkInDate.value ; 
  data[1].innerHTML  = inputs.checkInTime.value ;
  data[2].innerHTML  = inputs.checkOutDate.value ;
  data[3].innerHTML  = inputs.checkOutTime.value ;

  document.getElementById("modal-accommodation").style.display = "none";
});

// allow drag and drop

function draggable(){
  var draggables = document.querySelectorAll('.draggable');
  var containers = document.querySelectorAll('.containers');

  draggables.forEach(draggable => {
    draggable.addEventListener('dragstart',() => {
      draggable.classList.add('dragging');
    })

    draggable.addEventListener('dragend',() => {
      draggable.classList.remove('dragging');
    })

  })

  containers.forEach(container => {
    container.addEventListener('dragover',e => {
      e.preventDefault()
      const afterElement = getDragAfterElement(container,e.clientY)
      const draggable = document.querySelector('.dragging')
      if (afterElement == null){
        container.appendChild(draggable);
      } else {
        container.insertBefore(draggable,afterElement);
      }

    })
  })
}

function getDragAfterElement(container,y){
  const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')]

  return draggableElements.reduce((closest,child) => {
    const box = child.getBoundingClientRect();
    const offset = y - box.top - box.height / 2;
    
    if (offset < 0 && offset > closest.offset) {
      return { offset: offset, element: child };
    } else {
      return closest;
    }
  },{offset: Number.NEGATIVE_INFINITY}).element;
}


function changeCity(){
  const source = document.querySelector("#cities")
  const city   = source[source.selectedIndex].value ;
  const img    = document.getElementById("cityImage");

  if (city){
    displayCity(city);
    displayHotels(city);
    displayExcursions(city);
    // displayCarHire(city);
    // displayFlights(city);
    // displayTrains(city);
  }
};


function saveItinerary(){

  var data = [];
  let days = document.getElementById('myItinerary').getElementsByClassName('containers');
  
  for(let i=0;i<days.length;i++) {

    var details = [];
    var items   = days[i].getElementsByClassName('draggable');

    for(let j=0;j<items.length;j++) {

      var obj = {};
      obj.type    = items[j].getAttribute("type");
      obj.url     = items[j].getAttribute("url");
      obj.content = (items[j].getElementsByClassName('details1'))[0].childNodes[0].nextSibling.innerText;
      let inputs  = items[j].getElementsByClassName('details');

      for(let k=0;k<inputs.length;k++) {
        let attr  = inputs[k].getAttribute("attr");
        let value = inputs[k].getAttribute("value");
        obj[attr] = (value != null) ? new Date(value) : inputs[k].innerText ;
      };
    
      details.push(obj);
    };

    let object = {};
    object.day = i;
    object.item = details;
    data.push( object );
  };

  let css       = document.getElementById("message");
  css.innerHTML = 'in progress';
  css.classList.add('alert-info');

  docLoad({
    url:    'ajax', 
    method: 'POST',
    data:   JSON.stringify({ 
      "file": {{ .RelPermalink }}, 
      "data": data }) }).then(
      
      function(response){ 
        console.log( statusText ); 
      }, 

      function(Error){ 
        console.log( Error ); 
      }
      );
};

function displayCity(urldata){

  const city = urldata.split("/")[(urldata.split("/")).length-2];
  const path = host+urldata+"index.json";

  docLoad({url: path}).then(

    function(response) {

      const citydata = JSON.parse(response);
      const image    = host+urldata+citydata.image;
      
      if (image){
        document.getElementById("image").style.backgroundImage = 'url("'+image+'")';
      }
      document.getElementById("info").innerHTML = citydata.content;
    }, 

    function(Error) {
      console.log(Error);
    }
    );
};

function displayHotels(city){

    docLoad( {url: host+city+"hotels/index.json"} ).then(

    function(response){

      const data  = JSON.parse(response);
      const items = data.data.items;
      var   sel   = '<option value="">Select a hotel</option>';

      if (items.length > 0) {
        for(let i=0;i<items.length;i++) {
          sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>";
        }

        document.getElementById("selectHotels").style.visibility = "visible"; 
        document.getElementById("hotels").innerHTML = sel;
      } else {
        document.getElementById("selectHotels").style.visibility = "hidden";
      }
    }, 

    function(Error) {
      console.log(Error);
    }
    );
};

function displayExcursions(city){

  docLoad({url: host+city+"excursions/index.json"}).then(

    function(response) {
      const nonl  = response.replace(/(\n)/gm,"");
      var   data  = JSON.parse(nonl);
      const items = data.data.items;
      var   sel   = '<option value="">Select an excursion</option>';

      if (items.length > 0) {
        for(let i=0;i<items.length;i++) {
          sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>"
        }

        document.getElementById("selectExcursions").style.visibility = "visible"; 
        document.getElementById("excursions").innerHTML = sel;
      } else {
        document.getElementById("selectExcursions").style.visibility = "hidden";
      }
    }, 

    function(Error) {
      console.log(Error);
    }
    );
};

function displayCarHire(city){

  docLoad({url: host+city+"car-hire/index.json"}).then(

    function(response) {
      const nonl  = response.replace(/(\n)/gm,"");
      var   data  = JSON.parse(nonl);
      const items = data.data.items;
      var   sel   = '<option value="">Select a car hire</option>';

      if (items.length > 0) {
        for(let i=0;i<items.length;i++) {
          sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>"
        }

        document.getElementById("selectCarHire").style.visibility = "visible"; 
        document.getElementById("selectCars").style.visibility = "visible"; 
        document.getElementById("carhire").innerHTML = sel;
      } else {
        document.getElementById("selectCarHire").style.visibility = "hidden";
        document.getElementById("selectCars").style.visibility = "hidden";
      }
    }, 

    function(Error) {
      console.log(Error);
    }
    );
};

function displayCars(carhire){

  docLoad({url: carhire+"/index.json"}).then(

    function(response) {
      const nonl  = response.replace(/(\n)/gm,"");
      var   data  = JSON.parse(nonl);
      const items = data.data.items;
      var   sel   = '<option value="">Select a car</option>';

      if (items.length > 0) {
        for(let i=0;i<items.length;i++) {
          sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>"
        }

        document.getElementById("selectCars").style.visibility = "visible"; 
        document.getElementById("cars").innerHTML = sel;
      } else {
        document.getElementById("selectCars").style.visibility = "hidden";
      }
    }, 

    function(Error) {
      console.log(Error);
    }
    );
};

function displayFlights(city){

  docLoad({url: host+city+"airports/index.json"}).then(

   function(response) {
    const nonl  = response.replace(/(\n)/gm,"");
    var   data  = JSON.parse(nonl);
    const items = data.data.items;
    var   sel   = '<option value="">Select a flight</option>';

    if (items.length > 0) {
      for(let i=0;i<items.length;i++) {
        sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>"
      }

      document.getElementById("selectFlights").style.visibility = "visible"; 
      document.getElementById("flights").innerHTML = sel;
    } else {
      document.getElementById("selectFlights").style.visibility = "hidden";
    }
  }, 

  function(Error) {
    console.log(Error);
  }
  );
};

function displayTrains(city){

  docLoad({url: host+city+"railways/index.json"}).then(

   function(response) {
    const nonl  = response.replace(/(\n)/gm,"");
    var   data  = JSON.parse(nonl);
    const items = data.data.items;
    var   sel   = '<option value="">Select a train</option>';

    if (items.length > 0) {
      for(let i=0;i<items.length;i++) {
        sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>"
      }

      document.getElementById("selectTrains").style.visibility = "visible"; 
      document.getElementById("trains").innerHTML = sel;
    } else {
      document.getElementById("selectTrains").style.visibility = "hidden";
    }
  }, 

  function(Error) {
    console.log(Error);
  }
  );
};

function addCity(){

  const source = document.querySelector("#cities");
  const i      = source.selectedIndex;
  const url    = source[i].value ;
  const city   = source[i].innerHTML;
  const html   = '<div class="draggable" draggable="true" type ="city" url="' + url + '"><i class="icon-monument"></i>&nbsp;' + city+'</div>';

  if (i) {
    document.getElementById("workspace").innerHTML += html;
    draggable();
  }
};

function addHotel(){

  const source = document.querySelector("#hotels");
  const i      = source.selectedIndex;
  const url    = source[i].value ;
  const hotel  = source[i].innerHTML;
  const html   = '<div class="draggable" draggable="true" type ="hotel" url="' + url + '"><i class="icon-bed"></i>&nbsp;' + hotel+'</div>';

  if (i) {
    document.getElementById("workspace").innerHTML += html;
    draggable();
  }
};

function addExcursion(){

  const source    = document.querySelector("#excursions")
  const i         = source.selectedIndex;
  const url       = source[i].value ;
  const excursion = source[i].innerHTML;
  const html      = '<div class="draggable" draggable="true" type ="excursion" url="' + url + '"><i class="icon-camera"></i>&nbsp;' + excursion + '</div>'

  if (i) {
    document.getElementById("workspace").innerHTML += html;
    draggable();
  }
};

function addCar(){

  const source    = document.querySelector("#cars")
  const i         = source.selectedIndex;
  const url       = source[i].value ;
  const car       = source[i].innerHTML;
  const html      = '<div class="draggable" draggable="true" type="car-hire" url="' + url + '"><i class="icon-cab"></i>&nbsp;' + car + '</div>'

  if (i) {
    document.getElementById("workspace").innerHTML += html;
    draggable();
  }
};

function addFlight(){

  const source    = document.querySelector("#flights")
  const i         = source.selectedIndex;
  const url       = source[i].value ;
  const flight    = source[i].innerHTML;
  const html      = '<div class="draggable" draggable="true" type="flight" url="' + url + '"><i class="icon-flight"></i>&nbsp;' + flight + '</div>'

  if (i) {
    document.getElementById("workspace").innerHTML += html;
    draggable();
  }
};

function addTrain(){

  const source    = document.querySelector("#trains")
  const i         = source.selectedIndex;
  const url       = source[i].value ;
  const train     = source[i].innerHTML;
  const html      = '<div class="draggable" draggable="true" type="train" url="' + url + '"><i class="icon-train"></i>&nbsp;' + train + '</div>'

  if (i) {
    document.getElementById("workspace").innerHTML += html;
    draggable();
  }
};

function emptyTrash(){
  var trash = document.getElementById("trash");
  trash.innerHTML = "";
}

function changeHotel(){
  const source = document.querySelector("#hotels");
  if ( typeof source[source.selectedIndex] !== 'undefined'){
    var url = source[source.selectedIndex].value;
    processRequest(url);
  }
}

function changeExcursion(){
  const source = document.querySelector("#excursions");
  if ( typeof source[source.selectedIndex] !== 'undefined'){
    var url = source[source.selectedIndex].value;
    processRequest(url);
  }
}

function changeCarHire(){
  const source = document.querySelector("#carhire");
  if ( typeof source[source.selectedIndex] !== 'undefined'){
    var url = source[source.selectedIndex].value;
    displayCars(url);
    processRequest(url);
  }
}

function changeCar(){
  const source = document.querySelector("#cars");
  if ( typeof source[source.selectedIndex] !== 'undefined'){
    var url = source[source.selectedIndex].value;
    processRequest(url);
  }
}

function changeFlight(){
  const source = document.querySelector("#flights");
  if ( typeof source[source.selectedIndex] !== 'undefined'){
    var url = source[source.selectedIndex].value;
    processRequest(url);
  }
}

function changeTrain(){
  const source = document.querySelector("#trains");
  if ( typeof source[source.selectedIndex] !== 'undefined'){
    var url = source[source.selectedIndex].value;
    processRequest(url);
  }
}

function processRequest(url){

  docLoad({url: host+url+"index.json"}).then(

    function(response) {

      var data    = JSON.parse(response);
      var content = data.data.content;  
      content     = content.replace(/linebreak/gm,"");

      document.getElementById("info").innerHTML = content;

      if ( data.data.image != undefined){
        const image = 'url("'+host+url+(data.data.image)+'")';
        document.getElementById("image").style["background-image"] = image;
      };
    }, 

    function(Error) {
      console.log(Error);
    }
    );
}

function editItem(day,index,url,obj){

  var icon;

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  } 
  
  var count = (url.match(/\//g) || []).length;

  if (count == 5 ){
    icon  = "monument";
    modal = document.getElementById("modal-city");
  } else if (url.includes("hotels")){
    icon  = "bed";
    modal = document.getElementById("modal-accommodation");
  } else if (url.includes("excursions")){
    icon  = "camera";
    modal = document.getElementById("modal-excursions");
  } else if (url.includes("airports")){
    icon  = "flight";
    modal = document.getElementById("modal-flights");
  } else if (url.includes("railways")){
    icon  = "train";
    modal = document.getElementById("modal-trains");
  } else if (url.includes("ferry")){
    icon  = "ferry";
    modal = document.getElementById("modal-ferry");
  } else if (url.includes("car-hire")){
    icon  = "cab";
    modal = document.getElementById("modal-car-hire");
  }

  modal.style.display = "block";

  var defaultBtn= modal.querySelector(".default-modal-btn");

  if (url.includes("{{ htmlUnescape .RelPermalink }}")){
    defaultBtn.style.display = "block"
  } else {
    defaultBtn.style.display = "none"
  }

  let inputs  = modal.getElementsByClassName('input');
  let rows    = modal.getElementsByClassName('row');
  let content = obj.getElementsByClassName('content-text');

  rows[0].children[0].innerHTML = '<i class="icon-'+icon+'"></i>';
  rows[1].children[0].innerText = content[0].childNodes[1].innerText;
  inputs[0].day   = day;
  inputs[0].index = index;
  inputs[0].url   = url;
  
  let data = obj.getElementsByClassName('details');

  for(let i=0;i<inputs.length;i++) {
    if (data[i]) {
      inputs[(i+1)].value = data[i].innerText;
    }
  } 
};


function saveModal(url, data){

  var css       = document.getElementById("message");
  css.innerHTML = 'Writing in progress';
  css.classList.add('alert-info');

  docLoad({
    url:   'edit',
    method:'POST',
    data:   JSON.stringify({"file": {{ .RelPermalink }},"data": data })
  }).then(
    function(response) {
      console.log(response);
    }, 
    function(Error) {
      console.log(Error);
      alert("There is an issue saving. Please contact the administrator.");
    }
  );
};


function docLoad(object) {

  return new Promise(function(resolve, reject) {

    var host = ((object.method == 'POST')? 
      {{- if (len (getenv "APP")) }}
      {{ getenv "APP" }}
      {{- else -}}
      {{ .Site.Params.appHost }}
      {{- end -}}
      : "")+object.url;

    var request = new XMLHttpRequest();
    request.open(object.method || "GET", host);
    request.setRequestHeader("Content-Type", "application/json");

    request.onload = function() {
      if (request.status === 200) {
        resolve(request.response);
      } else {
        reject(Error('Document requested did not load successfully; error code:' + request.statusText));
      }
    };

    request.onerror = function() {
      reject(Error('There was a network error.'));
    };
    request.send(JSON.stringify(object));
  });
}

</script>

{{- end }}