{{- define "main" }}
{{- .Scratch.Set "layout" "layouts/itinerary/list.html" -}}

<section id="{{ .Scratch.Get "id" | lower }}"> 
  {{ partial "heading.html" . }}
  <div class="container">
    <div class="row">
      <div class="mx-auto w-50 p-3">
        {{ .Content }}
         <div id="message" class="alert " role="alert"></div>
      </div>
    </div>
  </div>

File: {{ .RelPermalink }}
<button class="save" onclick="saveThis()">Save</button>
&nbsp;
<button class="edit" onclick="editThis()">Edit</button>

  <div class="main-container">
    <div class="columns">

      <div id="itin" class="column itinerary-column">
        <div class="column-header">
          <h4>Itinerary</h4>
        </div>
        {{- range $index,$e := .Params.itinerary }}
        <hr class="hr-text" data-content="Day {{ add $index 1 }}">
        <div class="containers">
          {{- range .url }}
        <div class="draggable" draggable="true" url="{{ . }}">
            {{- with $.Site.GetPage "page" . }}
            {{- if in .RelPermalink "excursions"}}
            <i class="icon-camera"></i>&nbsp;
            {{- else if in .RelPermalink "hotels"}}
            <i class="icon-bed"></i>&nbsp;
            {{- end }}
            {{ .Title }}
            {{- end }}
        </div>
          {{- end }}
        </div>
        {{- end }}
      </div>

      <div class="column workspace-column">
        <div class="column-header">
          <h4>Workspace</h4>
        </div>
        <div class="containers" id="workspace">
          <div class="draggable" draggable="true">
            <p>Hypothesis</p>
          </div>
          <div class="draggable" draggable="true">
            <p>User Testing</p>
          </div>
          <div class="draggable" draggable="true">
            <p>Prototype</p>
          </div>
        </div>
      </div>

      <div class="column to-do-column">
        <div class="column-header">
          <h4>Search</h4>
        </div>
        
        <div id="cityImage"></div>
        <div  class="select-flex">
          <div class="custom-select">
            <label for="city">City</label>
            <select id="city" name="city" onchange="changeCity()">
              <option value="">Select a city</option>
              {{ range ( sort (where (where .Site.Pages "Section" "states") ".Params.id" "city") ".Title" "asc" ) }}
              <option value="{{ .RelPermalink }}">{{ .Title }} </option>
              {{ end }}
            </select>
          </div>
        </div>
          
        <div class="select-flex">
          <div class="custom-select" id="selectHotels">
            <label for="hotels">Hotels</label>
            <select id="hotels" name="hotels">
            </select>
             <i class="select icon icon-bed"></i>
          </div>
        </div>

        <div class="select-flex">
          <div class="custom-select" id="selectExcursions">
            <label for="excursions">Excursions</label>
            <select id="excursions" name="excursions">
            </select>
            <i class="select icon icon-camera"></i>
          </div>
        </div>

        <br>
        <div class="new-task-column">
          <div class="column-header">
            <h4>Add New Task</h4>
          </div>
           <div class="containers" id="new-task">
          <div class="draggable" draggable="true">
            <input type="text" id="taskText" placeholder="New Task..." onkeydown="if (event.keyCode == 13) document.getElementById('add').click()">
          </div>
          <div class="column-button">
            <button id="add" class="button add-button" onclick="addTask()">Add New Task</button></div>
          </div>
        </div>
        <br>

        <div class="trash-column">
          <div class="column-header">
            <h4>Trash</h4>
          </div>
          <div class="containers" id="trash">
            <div class="draggable" draggable="true">
              <p>Interviews</p>
            </div>
            <div class="draggable" draggable="true">
              <p>Research</p>
            </div>
          </div>
          <div class="column-button">
            <button class="button delete-button" onclick="emptyTrash()">Delete</button>
          </div>
        </div>

      </div> 
    </div>
  </div>
</section>

{{- end }}
{{- define "postscript" }}

<script>

const draggables = document.querySelectorAll('.draggable')
const containers = document.querySelectorAll('.containers')

draggables.forEach(draggable => {
  draggable.addEventListener('dragstart',() => {
    draggable.classList.add('dragging')
  })

  draggable.addEventListener('dragend',() => {
    draggable.classList.remove('dragging')
  })

})

containers.forEach(container => {
  container.addEventListener('dragover',e => {
    e.preventDefault()
    const afterElement = getDragAfterElement(container,e.clientY)
    const draggable = document.querySelector('.dragging')
    if (afterElement == null){
      container.appendChild(draggable)
    } else {
      container.insertBefore(draggable,afterElement)
    }
   
  })
})

function getDragAfterElement(container,y){
  const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')]

  return draggableElements.reduce((closest,child) => {
    const box = child.getBoundingClientRect()
    const offset = y - box.top - box.height / 2
    
    if (offset < 0 && offset > closest.offset) {
      return { offset: offset, element: child }
    } else {
      return closest
    }
  },{offset: Number.NEGATIVE_INFINITY}).element
}

function saveThis(){

  var data = [];
  let days = document.getElementById('itin').getElementsByClassName('containers')
  
  for(let i=0;i<days.length;i++) {
  
    var urls  = [];
    var items = days[i].getElementsByTagName('div')
    
    for(let j=0;j<items.length;j++) {
     
      var url = items[j].getAttributeNode("url").value
    
      urls.push(url)
    }
    data.push({"day":i,'url':urls})
  }
  writeData(data)
};



function writeData(data){

  var xhr = new XMLHttpRequest();
  const url='http://localhost:1314/ajax';
  xhr.open('POST',url,true );
  xhr.setRequestHeader("Content-Type", "application/json");

  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
       console.log(xhr.responseText);
    } else {
      console.error(xhr.statusText);
    }
  };

  xhr.onerror = function (e) {
    console.error(xhr.statusText);
  };

  var data = JSON.stringify({ "file": {{ .RelPermalink }}, "data": data });

  let css = document.getElementById("message");
  css.innerHTML = 'in progress';
  css.classList.add('alert-info');

  xhr.send(data)

}


function changeCity(){
  let city = document.getElementById("city").value;
  let img  = document.getElementById("cityImage");

  if (city){

    img.style["background-image"] = "url("+city+"agra.jpg)";

    displayHotels(city);
    displayExcursions(city);
  }
};



 

function displayHotels(city){
 
  var xhr = new XMLHttpRequest();
  var url='http://localhost:1313'+city+"hotels/index.json";

  xhr.open('get',url );
  xhr.setRequestHeader("Content-Type", "application/json");

  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
      var data = JSON.parse(xhr.responseText);
      var items = data.data.items
      var sel = '<option value="" selected></option>';
//console.log(items.length)
      if (items.length > 0) {
        for(let i=0;i<items.length;i++) {
          sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>"
        }

        document.getElementById("selectHotels").style.visibility = "visible"; 
        document.getElementById("hotels").innerHTML = sel;
      } else {
        document.getElementById("selectHotels").style.visibility = "hidden";
      }
    } else {
      console.error(xhr.statusText);
    }
  };

  xhr.send()
};

function displayExcursions(city){

  var xhr = new XMLHttpRequest();
  var url='http://localhost:1313'+city+"excursions/index.json";
 console.log(url) 
  xhr.open('get',url );
  xhr.setRequestHeader("Content-Type", "application/json");

  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
 //console.table(xhr.responseText);      
      var data = JSON.parse(xhr.responseText);
      var items = data.data.items
      var sel = '<option value="" selected></option>';

      if (items.length > 0) {
        for(let i=0;i<items.length;i++) {
          sel += "<option value='"+items[i].permalink+"'>"+items[i].title+"</option>"
        }

        document.getElementById("selectExcursions").style.visibility = "visible"; 
        document.getElementById("excursions").innerHTML = sel;
      } else {
        document.getElementById("selectExcursions").style.visibility = "hidden";
      }
    } else {
      console.error(xhr.statusText);
    }
  };

  xhr.send()
};


  


function changeHotel(){
  // 
};

</script>

{{- end }}